.signin-container {
  display: flex;
  align-items: center;
}

.sign-up-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
}

.sign-up-container-title {
  margin-right: 10px;
}

.signin-form-title {
  color: #00507c;
}

.login-sign-in-option {
  margin-top: 20px;
}

.login-sign-in-option button {
  color: #00507c;
  font-size: 1.2em;
}
