.signin-container {
  display: flex;
  align-items: center;
}

.sign-in-container-title {
  margin-right: 10px;
}

.signin-form-title {
  color: #00507c;
}

.sign-in-option {
  margin-top: 20px;
}

.sign-in-option button {
  color: #00507c;
  font-size: 1.2em;
}
