.on-hover-pop-up-relative-container {
  position: relative;
}

.on-hover-pop-up-info-hidden {
  display: none;
}

.on-hover-pop-up-info-visible {
  min-width: 140px;
  max-width: 500px;
  display: block;
  position: absolute;
  padding: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  top: 25px;
  right: 70px;
  background: #ffffff;
  color: #5d5d65;
  border-radius: 10px;
}
