.sign-up-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
}

.sign-up-container-title {
  margin-right: 10px;
}

.signup-form-title {
}

.signup-option {
  margin-top: 20px;
  color: #5d5d65;
}

.signup-option button {
  color: #00507c;
  font-size: 1.2em;
}

.signup-submit-button-container {
  display: flex;
  min-width: 100%;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.sign-up-privacy-policy-disclaimer {
  color: #5d5d65;
  display: inline-block;
  margin-right: 5px;
}
