.feed-container {
  grid-column: 2 / 3;
  min-width: 100%;
}

.feed-items {
  justify-self: flex-start;
  min-width: 100%;
  display: flex;
  justify-content: center;
}

.infinite-scroll-component__outerdiv {
  min-width: 100%;
}

.infinite-scroll-component {
  min-width: 100%;
}
