.onboarding-main-title {
  color: #99999f;
}

.onboarding-page-container {
  margin-top: 10px;
}

.onboarding-page-instructions {
  margin-top: 40px;
  color: #5d5d65;
  display: inline-block;
}

.onboarding-user-container {
  margin-bottom: 80px;
}

.onboarding-skip-next-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  border-top: 2px solid #00507c;
  padding-top: 10px;
}

.onboarding-back-button {
  color: #00507c;
  margin-right: 6px;
}

.onboarding-skip-button {
  color: #99999f;
}

.onboarding-create-group-button-container a:hover {
  text-decoration: none;
  color: #00507c;
  border: 1px solid #00507c;
}

.onboarding-create-group-button-container {
  display: flex;
  margin-top: 20px;
  min-width: 100%;
  justify-content: center;
}

.onboarding-create-group-button {
  border: 2px solid #00507c;
  padding: 8px 0px 8px 25px;
  width: 200px;
  display: flex;
  align-items: center;
}

.onboarding-create-group-button-container svg {
  margin-right: 5px;
  margin-top: 3px;
}

.onboarding-hint-do-it-later {
  margin-top: 20px;
  text-align: center;
  color: #99999f;
}

.onboarding-create-group-container {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  padding-bottom: 4px;
}

.onboarding-author-papers-choice-container {
  display: flex;
  min-width: 100%;
  justify-content: center;
}

.onboarding-author-link-explain {
  color: #00507c;
  margin-top: 30px;
  text-align: center;
}

.onboarding-author-link-form {
  margin: 30px 0px 60px;
  display: flex;
  justify-content: center;
}

.onboarding-author-papers-choice-button-container {
  margin: 20px 10px;
}

.onboarding-author-name-input {
  border-bottom: 1px solid #00507c;
  margin-left: 10px;
  width: 400px;
}

.onboarding-author-link-button {
  padding: 5px;
  margin-left: 5px;
}

.onboarding-author-link-button path {
  fill: #00507c;
}

.onboarding-author-link-button:hover path {
  fill: #3099d3;
}

.onboarding-author-link-button:hover span {
  color: #3099d3;
}

.onboarding-author-link-search-button-text {
  display: inline-block;
  margin-left: 5px;
  color: #00507c;
}

.onboarding-suggested-publication-title {
}

.onboarding-suggested-publication-title-container {
  margin: 20px 0px;
}

.onboarding-suggested-publications-container {
  display: grid;
  grid-template-columns: 1fr 100px;
}

.onboarding-publication-selector-button,
.onboarding-publication-selector-button-selected {
  width: 50px;
  height: 50px;
  border: 2px solid #00507c;
  border-radius: 6%;
}

.onboarding-publication-selector-button:hover,
.onboarding-publication-selector-button:focus {
  border: 3px solid #00507c;
}

.onboarding-publication-selector-button:active {
  background: #00507c;
}

.onboarding-publication-selector-button-selected {
  background: #00507c;
}

.onboarding-publication-selector-button-selected:hover {
  opacity: 50%;
}

.onboarding-publication-selector-button-selected:focus {
  border: #3099d3;
}

.onboarding-suggested-publications-submit-container {
  margin: 40px 0px 0px;
  display: flex;
  justify-content: flex-end;
}

.onboarding-suggested-publication-authors {
  display: inline-block;
  margin-right: 10px;
  color: #5d5d65;
  line-height: 0px;
  margin-bottom: 0px;
}
