stages:
  - test

before_script:
  - npm i -g firebase-tools

deploy_test_env_functions:
  image: node:10
  stage: test
  resource_group: test
  environment:
    name: test
  only:
    - master
  script:
    - npm --prefix functions install
    - npm run --prefix functions build
    - firebase use --token $FIREBASE_DEPLOY_KEY labspoon-test
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build $CI_BUILD_ID" --non-interactive --token $FIREBASE_DEPLOY_KEY --only functions

deploy_test_env:
  image: node:current
  stage: test
  resource_group: test
  environment:
    name: test
  only:
    - master
  script:
    - npm --prefix web install
    - npm run --prefix web build
    - firebase use --token $FIREBASE_DEPLOY_KEY labspoon-test
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build $CI_BUILD_ID" --non-interactive --token $FIREBASE_DEPLOY_KEY --except functions