workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: always
    - if: '$CI_PIPELINE_SOURCE == "web"'
      when: always
    - when: never

stages:
  - build_and_deploy

before_script:
  - npm i -g firebase-tools
  - npm i -g n

cache:
  paths:
    - node_modules/
    - functions/node_modules

deploy_test_env:on-schedule:
  image: node:current
  stage: build_and_deploy
  environment:
    name: test
  only:
    - master
    - schedules
  script:
    - n current
    - npm --prefix web install
    - npm run --prefix web build
    - n 10
    - npm --prefix functions install
    - npm run --prefix functions build
    - firebase use --token $FIREBASE_DEPLOY_KEY labspoon-test
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build $CI_BUILD_ID" --non-interactive --token $FIREBASE_DEPLOY_KEY --except functions

deploy_dev_env:on-schedule:
  image: node:current
  stage: build_and_deploy
  environment:
    name: dev
  only:
    - master
    - schedules
  script:
    - n current
    - npm --prefix web install
    - npm run --prefix web build
    - n 10
    - npm --prefix functions install
    - npm run --prefix functions build
    - firebase use --token $FIREBASE_DEPLOY_KEY labspoon-dev-266bc
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build $CI_BUILD_ID" --non-interactive --token $FIREBASE_DEPLOY_KEY --except functions

deploy_prod_env:on-schedule:
  image: node:current
  stage: build_and_deploy
  environment:
    name: prod
  only:
    - master
    - schedules
  script:
    - n current
    - npm --prefix web install
    - npm run --prefix web build
    - n 10
    - npm --prefix functions install
    - npm run --prefix functions build
    - firebase use --token $FIREBASE_DEPLOY_KEY labspoon-prod-284615
    - firebase deploy -m "pipeline $CI_PIPELINE_ID build $CI_BUILD_ID" --non-interactive --token $FIREBASE_DEPLOY_KEY --except functions
