rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /posts/{postID} {
      allow read;
      allow update: if request.auth != null && request.resource.data.keys().hasAny(['recommendedCount', 'bookmarkedCount'])

      match /groups/{groupID} {
        allow read;
        allow create: if request.auth != null && exists(/databases/$(database)/documents/groups/$(groupID)/members/$(request.auth.uid))
        allow update: if request.auth != null && exists(/databases/$(database)/documents/users/$(request.auth.uid)/posts/$(postID))
         allow delete: if request.auth != null && exists(/databases/$(database)/documents/groups/$(groupID)/members/$(request.auth.uid))
      }

      match /bookmarkedBy/{userID} {
        allow read, write: if request.auth != null && request.auth.uid == userID;
      }

      match /recommendedBy/{userID} {
        allow read, write: if request.auth != null && request.auth.uid == userID;
      }
    }

    match /MSFields/{microsoftID} {
      allow read;
    }

    match /openPositions/{openPositionID} {
      allow read;
    }

    match /techniques/{techniqueID} {
        allow read;
        allow write: if (
          request.auth != null
        && exists(/databases/$(database)/documents/groups/$(request.resource.data.group.id)/members/$(request.auth.uid))
        && request.auth.uid == request.resource.data.author.id
        );
      }

    match /researchFocuses/{researchFocusID} {
      allow read;
      allow write: if (
        request.auth != null
        && exists(/databases/$(database)/documents/groups/$(request.resource.data.group.id)/members/$(request.auth.uid))
        && request.auth.uid == request.resource.data.author.id
      );
    }

    match /users/{userID} {
      allow read;
      allow update: if request.auth != null && request.auth.uid == userID;
      allow create: if request.auth != null;

      match /recommendations/{recommendationID} {
        allow read;
        allow write: if request.auth != null && request.auth.uid == userID;
      }

      match /posts/{postID} {
        allow read;
      }

      match /publications/{publicationID} {
        allow read;
      }

      match /bookmarks/{bookmarkID} {
        allow read, write: if request.auth != null && request.auth.uid == userID;
      }

      match /followsGroups/{groupID} {
        allow read, write: if request.auth != null && request.auth.uid == userID;
      }

      match /groups/{groupID} {
        allow read;
        allow create;
        allow write: if request.auth != null;
      }

      match /followsTopics/{groupID} {
        allow read, write: if request.auth != null && request.auth.uid == userID;
      }

      match /followsUsers/{followingUserID} {
        allow read;
        allow write: if request.auth != null && request.auth.uid == userID;
      }

      match /followedByUsers/{followerUserID} {
        allow read, write: if request.auth != null && request.auth.uid == followerUserID;
      }

      match /feeds/followingFeed/{doc=**} {
        allow read: if request.auth != null && request.auth.uid == userID;
      }

      match /topics/{userID} {
        allow read;
      }
    }

    match /groups/{groupID} {
      allow read;
      allow create: if request.auth != null && request.resource.data.keys().hasAny(['groupType']);
      allow update: if request.auth != null && existsAfter(/databases/$(database)/documents/groups/$(groupID)/members/$(request.auth.uid));

      match /followedByUsers/{userID} {
        allow read;
        allow write: if request.auth != null && request.auth.uid == userID;
      }

      match /members/{userID} {
        allow read;
        allow write: if request.auth != null && existsAfter(/databases/$(database)/documents/groups/$(groupID)/members/$(request.auth.uid));
      }

      match /posts/{postID} {
        allow read;
        allow write: if request.auth != null && exists(/databases/$(database)/documents/groups/$(groupID)/members/$(request.auth.uid));
      }

      match /publications/{publicationID} {
        allow read;
        allow write: if request.auth != null && exists(/databases/$(database)/documents/groups/$(groupID)/members/$(request.auth.uid));
      }

      match /topics/{topicID} {
        allow read;
      }

      match /feeds/postsFeed/{doc=**} {
        allow read: if request.auth != null && exists(/databases/$(database)/documents/groups/$(groupID)/members/$(request.auth.uid));
      }

      match /feeds/publicationsFeed/{doc=**} {
        allow read: if request.auth != null && exists(/databases/$(database)/documents/groups/$(groupID)/members/$(request.auth.uid));
      }

      match /invitations/{invitationID} {
        allow read, write: if request.auth != null && existsAfter(/databases/$(database)/documents/groups/$(groupID)/members/$(request.auth.uid));
      }

      match /photos/{photoID} {
        allow read;
        allow write: if request.auth != null && exists(/databases/$(database)/documents/groups/$(groupID)/members/$(request.auth.uid));
      }

      match /videos/{videoID} {
        allow read;
        allow write: if request.auth != null && exists(/databases/$(database)/documents/groups/$(groupID)/members/$(request.auth.uid));
      }

      match /techniques/{techniqueID} {
        allow read;
      }

      match /researchFocuses/{researchFocusID} {
        allow read;
      }

      match /openPositions/{openPositionID} {
        allow read;
      }
    }

    match /topics/{topicID} {
      allow read;

      match /followedByUsers/{userID} {
        allow write: if request.auth.uid == userID;
      }

      match /posts/{postID} {
        allow read;
      }

      match /publications/{publicationID} {
        allow read;
      }

      match /users/{userID} {
        allow read;
      }

      match /groups/{groupID} {
        allow read;
      }
    }

    match /publications/{publicationID} {
      allow read;

      match /posts/{postID} {
        allow read;
      }

      match /references/{referenceID} {
        allow read;
      }

      match /groups/{groupID} {
        allow read;
        allow write: if request.auth != null && exists(/databases/$(database)/documents/groups/$(groupID)/members/$(request.auth.uid))
      }
    }

    match /MSUsers/{userID} {
      allow read;

      match /publications/{publicationID} {
        allow read;
      }
    }

    match /verifiedGroups/{groupID} {
      allow read;
    }

    match /contactForms/{contactFormType} {
      allow write;
      allow read;
      
    match /submittedForms/{submittedFormID} {
      allow write: if request.resource.data.keys().hasAny(['isHuman']);
      }
    }
  }
}
