.ais-SearchBox-input {
  min-width: 100%;
  border-radius: 0%;
  border: none;
  padding-left: 5px;
}

.search-page-search-container .ais-SearchBox-input {
  display: none;
}

.ais-SearchBox-submit {
  display: none;
}

.search-page-search-container .ais-SearchBox-reset {
  display: none;
}

.ais-Hits-list {
  display: block;
  flex-wrap: nowrap;
  margin-top: 20px;
  margin-left: 0px;
}

.ais-Hits-item {
  min-width: 100%;
  width: 100%;
  padding: 0px;
  margin-left: 0px;
  margin-top: 0px;
  border: none;
  box-shadow: none;
}

.seach-page-see-more-container {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0px 60px;
}

.search-page-see-more-button {
  color: #00507c;
}

.search-page-see-more-button:hover {
  color: #3099d3;
}

.search-page-no-results-message {
  margin-top: 20px;
  color: #5d5d65;
}

.search-page-overview-deep-search-container {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-page-overview-deep-search-title {
  margin-bottom: 5vh;
}

.search-page-overview-deep-search-title button {
  color: #00507c;
}

.search-page-overview-deep-search-title button:hover {
  color: #3099d3;
}

.search-page-publication-search-suggestion {
  color: #5d5d65;
  display: inline-block;
  margin-right: 20px;
}

.search-page-search-prompt-label {
  margin-top: 10vh;
  color: #5d5d65;
}

.search-page-no-results-topics-title {
  margin-top: 20px;
  color: #5d5d65;
}

.search-page-try-another-search {
  margin-bottom: 80px;
}
