.post-container {
  margin: 2px 2px 30px 2px;
  padding: 20px 16px;
  max-width: 100%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}

.post-container-dedicated-page {
  margin: 2px 2px 0px 2px;
  padding: 20px 16px 0px;
  max-width: 100%;
}

.post-referenced-resource-container {
  border: 1px solid #99999f;
  padding: 20px 10px 0px;
  margin-bottom: 30px;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 5px;
  border-bottom: 1px solid #dcdce0;
}

.post-header-dedicated-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 5px;
}

.post-header-dedicated-page a {
  color: black;
}

.post-header-dedicated-page a:hover {
  text-decoration-color: black;
}

.post-header a {
  color: black;
}
.post-header a:hover {
  text-decoration: underline;
  color: black;
}

.post-text-content {
  min-width: 100%;
  margin: 10px 0px;
}

.post-text-as-link {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.post-text-as-link:hover {
  text-decoration-color: #000000;
  text-decoration: none;
  color: #000000;
}

.linkified {
  color: #00507c;
}

.linkified:hover {
  color: #3099d3;
}

.post-header-profile {
  display: flex;
  align-items: center;
}

.post-header-profile p {
  color: #5d5d65;
  margin: 0px;
}

.post-header-profile h3 {
  margin: 0px;
}

.post-with-selector-container {
  display: grid;
  grid-template-columns: 1fr 100px;
}

.post-selector-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.post-selector-button-active,
.post-selector-button-inactive {
  width: 50px;
  height: 50px;
  border: 2px solid #00507c;
  border-radius: 6%;
}

.post-selector-button-active {
  background: #00507c;
}

.post-selector-button-inactive:hover,
.post-selector-button-inactive:focus {
  border: 3px solid #00507c;
}

.post-selector-button-active:hover {
  opacity: 0.5;
}

.post-selector-button-active:focus {
  border: #3099d3;
}

.post-selector-active-text {
  margin-top: 5px;
  color: #00507c;
}

.post-type-container {
  justify-self: flex-end;
  display: flex;
  justify-content: flex-end;
}

.post-type-name {
  text-transform: capitalize;
  padding: 0px 8px 0px 5px;
  align-self: flex-end;
  color: #5d5d65;
}

.post-type-icon {
  align-self: flex-start;
}

.post-header-avatar {
  margin: 10px;
}

.pinned-post {
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 1px solid #3099d3;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 4px #3099d3;
}

.pinned-post div {
  display: flex;
  justify-content: center;
}

.pinned-post h3 {
  margin: 0px 0px 15px;
  color: #00507c;
}

.pinned-post-topic {
  margin: 0px 20px;
}

.pinned-post-more-info {
  margin: 20px 0px 0px;
  color: #99999f;
}

.post-selector-inactive-text {
  text-align: center;
  color: #99999f;
}

@media screen and (max-width: 590px) {
  .post-type-name {
    font-size: 16px;
  }

  .post-text-content h2 {
    font-size: 18px;
  }
}
