.post-container-light,
.post-container-dark {
  margin: 2px 2px 30px 2px;
  max-width: 100%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
}

.post-content-container {
  padding: 20px 16px 0px;
}
.post-container-light {
  background: #ffffff;
}

.post-container-dark {
  background: #064262;
}

.post-container-dedicated-page {
  margin: 2px 2px 0px 2px;
  max-width: 100%;
}

.post-container-dedicated-page .post-text-content,
.post-container-dedicated-page .post-topics-container {
  padding: 0px 10px;
}

.post-referenced-resource-container {
  border: 1px solid #99999f;
  padding: 20px 10px 0px;
  margin-bottom: 30px;
}

.post-header-light,
.post-header-dark {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 5px;
}

.post-header-light {
  border-bottom: 1px solid #dcdce0;
}

.post-header-dark {
  border-bottom: 1px solid #5d7f95;
}

.post-header-top-right-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.post-quality-score-container-light,
.post-quality-score-container-dark {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.post-quality-score-container-light {
  color: #5d5d65;
}

.post-quality-score-container-dark {
  color: #ccd6da;
}

.post-quality-score-symbol-container {
  padding: 0px 10px;
}
.post-quality-score-symbol-container button {
  display: block;
  padding: 0px;
}

.post-quality-score-button-light-selected path {
  fill: #00507c;
}

.post-quality-score-button-light-selected:hover path {
  fill: #063854;
}

.post-quality-score-button-dark-selected path {
  fill: #ffffff;
}

.post-quality-score-button-dark-selected:hover path {
  fill: #ccd6da;
}

.post-quality-score-button-light-deselected path {
  fill: #dcdce0;
}

.post-quality-score-button-light-deselected:hover path {
  fill: #99999f;
}

.post-quality-score-button-dark-deselected path {
  fill: #5d7f95;
}

.post-quality-score-button-dark-deselected:hover path {
  fill: #9ebdd0;
}

.post-header-dedicated-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 5px;
}

.post-header-dedicated-page a {
  color: black;
}

.post-header-dedicated-page a:hover {
  text-decoration-color: black;
}

.post-header-light a {
  color: black;
}
.post-header-light a:hover {
  text-decoration: underline;
  color: black;
}

.post-header-dark a {
  color: #ffffff;
}
.post-header-dark a:hover {
  text-decoration: underline;
  color: #ffffff;
}

.post-text-content {
  min-width: 100%;
  margin: 10px 0px;
}

.post-text-as-link {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.post-text-as-link:hover {
  text-decoration-color: #000000;
  text-decoration: none;
  color: #000000;
}

.linkified {
  color: #00507c;
}

.linkified:hover {
  color: #3099d3;
}

.post-header-profile-light,
.post-header-profile-dark {
  display: flex;
  align-items: center;
}

.post-header-profile-light p {
  color: #5d5d65;
  margin: 0px;
}

.post-header-profile-dark p {
  color: #ccd6da;
  margin: 0px;
}

.post-header-profile-light h3,
.post-header-profile-dark h3 {
  margin: 0px;
}

.post-with-selector-container {
  display: grid;
  grid-template-columns: 1fr 100px;
}

.post-selector-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.post-selector-button-active,
.post-selector-button-inactive {
  width: 50px;
  height: 50px;
  border: 2px solid #00507c;
  border-radius: 6%;
}

.post-selector-button-active {
  background: #00507c;
}

.post-selector-button-inactive:hover,
.post-selector-button-inactive:focus {
  border: 3px solid #00507c;
}

.post-selector-button-active:hover {
  opacity: 0.5;
}

.post-selector-button-active:focus {
  border: #3099d3;
}

.post-selector-active-text {
  margin-top: 5px;
  color: #00507c;
}

.post-type-container {
  justify-self: flex-end;
  display: flex;
  justify-content: flex-end;
}

.post-header-avatar {
  margin: 10px;
}

.post-selector-inactive-text {
  text-align: center;
  color: #99999f;
}

.post-comment-toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-comment-section-light {
  background: #f5f6f6;
  border-top: 1px solid #dcdce0;
  padding: 5px 0px 10px;
}

.post-comment-section-dark {
  background: #053651;
  border-top: 1px solid #9ebdd0;
  padding: 5px 0px 10px;
}

.post-comment-section-dark button {
  color: #ccd6da;
}

.post-comment-section-light button {
  color: #5d5d65;
}

.post-comment-section-light button:hover,
.post-comment-section-dark button:hover {
  text-decoration: underline;
}

.comment-container-light {
  background: #ffffff;
  border: 1px solid #dcdce0;
  padding: 5px;
  margin: 2px;
}

.comment-container-dark {
  background: #064262;
  border: 1px solid #5d7f95;
  padding: 5px;
  margin: 2px;
}
.comment-container-dark a {
  color: #ffffff;
}

.comment-container-dark a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 590px) {
  .post-type-name {
    font-size: 16px;
  }

  .post-text-content h2 {
    font-size: 18px;
  }
}
