.post-container {
  margin: 2px 2px 30px 2px;
  padding: 20px 16px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
  max-width: 100%;
}

.post-container-dedicated-page {
  margin: 2px 2px 0px 2px;
  padding: 20px 16px 0px;
  max-width: 100%;
}

.post-referenced-resource-container {
  border: 1px solid #99999f;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
  padding: 20px 10px 0px;
  margin-bottom: 30px;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 5px;
  border-bottom: 1px solid #dcdce0;
}

.post-header-dedicated-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 5px;
}

.post-header a {
  color: black;
}
.post-header a:hover {
  text-decoration: underline;
  color: black;
}

.post-text-content {
  min-width: 100%;
  margin: 10px 0px;
}

.post-text-content a {
  color: #000000;
}

.post-text-content a:hover {
  text-decoration-color: #000000;
}

.post-header-profile {
  display: flex;
  align-items: center;
}

.post-header-profile p {
  color: #5d5d65;
}

.post-type-container {
  justify-self: flex-end;
  display: flex;
  justify-content: flex-end;
}

.post-type-name {
  text-transform: capitalize;
  padding: 0px 8px 0px 5px;
  align-self: flex-end;
  color: #5d5d65;
}

.post-type-icon {
  align-self: flex-start;
}

.post-header-avatar {
  margin: 10px;
}

.pinned-post {
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 1px solid #3099d3;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 4px #3099d3;
}

.pinned-post div {
  display: flex;
  justify-content: center;
}

.pinned-post h3 {
  margin: 0px 0px 15px;
  color: #00507c;
}

.pinned-post-topic {
  margin: 0px 20px;
}

.pinned-post-more-info {
  margin: 20px 0px 0px;
  color: #99999f;
}

@media screen and (max-width: 590px) {
  .post-type-name {
    font-size: 16px;
  }

  .post-text-content h2 {
    font-size: 18px;
  }
}
