.text-post {
  margin: 2px 2px 20px 2px;
  padding: 20px 16px;
  flex-grow: 1;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 5px;
  border-bottom: 1px solid #dcdce0;
}

.post-text-content {
  min-width: 100%;
  margin: 10px 0px;
}

.post-header-profile {
  display: flex;
  align-items: center;
}

.post-type-container {
  justify-self: flex-end;
  display: flex;
  justify-content: flex-end;
}

.post-type-name {
  text-transform: capitalize;
  padding: 0px 8px 0px 5px;
  align-self: flex-end;
}

.post-type-icon {
  align-self: flex-start;
}

.post-header-avatar {
  margin: 10px;
}

.post-topics {
  margin: 10px 0px 0px;
  display: grid;
  grid-template-columns: 30px 1fr;
}

.topics-sub-title {
  color: #99999f;
  grid-column: 1 /2;
}

.topic-names-container {
  grid-column: 2/3;
  display: flex;
}

.topic-names {
  display: inline-block;
  margin: 0px 30px;
}
@media screen and (max-width: 590px) {
  .post-type-name {
    font-size: 16px;
  }

  .post-text-content h2 {
    font-size: 18px;
  }
}
