.cancel-button,
.cancel-button-inactive {
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;
}

.cancel-button {
  color: #5d5d65;
}

.cancel-button-inactive {
  color: #dcdce0;
}

.cancel-button h3 {
  margin-left: -6px;
}

.cancel-button:hover {
  color: #000000;
}

.edit-button {
  color: #3099d3;
  padding-top: 10px;
  margin-left: 5px;
  display: flex;
  justify-content: flex-start;
}

.edit-button h3 {
  margin-left: -6px;
}

.edit-button:hover {
  color: #00507c;
}

.edit-button-container {
  display: flex;
  align-items: center;
}

.action-button-text {
  display: inline-block;
  margin-left: 5px;
}
