.cancel-button,
.cancel-button-inactive {
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;
}

.cancel-button {
  color: #5d5d65;
}

.cancel-button-inactive {
  color: #dcdce0;
}

.cancel-button h3 {
  margin-left: -6px;
}

.cancel-button:hover {
  color: #000000;
}

.edit-button {
  color: #3099d3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  padding: 5px 6px 5px 3px;
  border: 1px solid #3099d3;
}

.edit-button svg {
  height: 20px;
  margin-bottom: 1px;
}

.edit-button h3 {
  margin-left: -6px;
  padding: 0px;
  margin: 0px;
}

.edit-button:hover {
  color: #00507c;
}

.edit-button:hover {
  text-decoration: none;
  background: #00507c;
  color: #ffffff;
}

.edit-button:hover path,
.edit-button:hover rect {
  fill: #ffffff;
  /* stroke: #ffffff; */
}

.action-button-text {
  display: inline-block;
  margin-left: 5px;
}
