.cancel-button {
  color: #5d5d65;
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;
}

.cancel-button h3 {
  margin-left: -6px;
}

.cancel-button:hover {
  color: #000000;
}

.edit-button {
  color: #3099d3;
  padding-top: 10px;
  margin-left: 5px;
  display: flex;
  justify-content: flex-start;
}

.edit-button h3 {
  margin-left: -6px;
}

.edit-button:hover {
  color: #00507c;
}

.edit-button-container {
  display: flex;
  align-items: center;
}

.primary-button,
.primary-button-small {
  border: none;
  border-radius: 4%;
  text-decoration: none;
  background: #00507c;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.primary-button {
  padding: 10px 10px 5px 10px;
}

.negative-button {
  padding: 10px 10px 5px 10px;
  border: none;
  border-radius: 4%;
  text-decoration: none;
  background: #dcdce0;
  color: #000000;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.negative-button:hover,
.negative-button:focus {
  background: #99999f;
}

.primary-button-small {
  padding: 8px 10px 7px 10px;
}

.primary-button:hover,
.primary-button:focus,
.primary-button-small:hover,
.primary-button-small:focus {
  background: #023b5a;
}

.primary-button-clicked {
  padding: 10px 5px 5px 5px;
  border-radius: 4%;
  text-decoration: none;
  background: #ffffff;
  color: #99999f;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

.primary-button-clicked:hover,
.primary-button-clicked:focus {
  color: #00507c;
  cursor: pointer;
}

.action-button-text {
  display: inline-block;
  margin-left: 5px;
}

.button-position {
  position: relative;
}

.sign-up-prompt {
  position: absolute;
  right: 50px;
  padding: 20px 16px;
  box-shadow: 0px 0px 4px rgba(0, 7, 12, 0.6);
  border: 1px solid #00507c;
  width: 200px;
  top: 10px;
  background: white;
  display: flex;
  justify-content: center;
}

.sign-up-prompt-center {
  position: absolute;
  padding: 20px 16px;
  box-shadow: 0px 0px 4px rgba(0, 7, 12, 0.6);
  border: 1px solid #00507c;
  width: 240px;
  top: 10px;
  background: white;
  display: flex;
  justify-content: center;
}

.sign-up-prompt p,
.sign-up-prompt-center p {
  line-height: 16px;
}

@media screen and (max-width: 560px) {
  .primary-button-text h2 {
    font-size: 1.2em;
  }

  .primary-button,
  .primary-button:hover,
  .FollowButton:hover h2 {
    padding: 6px 11px 1px 11px;
    border-radius: 3%;
  }

  .primary-button-clicked,
  .primary-button-clicked:hover,
  .primary-button-clicked:focus h2 {
    padding: 6px 11px 1px 11px;
    border-radius: 3%;
  }
}
