.create-button {
  display: flex;
  align-items: center;
  padding: 0px;
}

.create-button h3 {
  margin-bottom: 0px;
  color: #00507c;
  margin-left: 10px;
  transition: 0.3s;
}

.create-button circle {
  fill: #3099d3;
  fill-opacity: 0;
  transition: 0.3s;
}

.create-button:hover h3 {
  color: #3099d3;
}

.create-button:hover {
  text-decoration: none;
}

.create-button:hover circle {
  fill-opacity: 0.21;
}

.create-button-center-container {
  display: flex;
  justify-content: center;
  margin: 10px 0px 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #99999f;
}
