.primary-button,
.primary-button-smallVersion,
.primary-button-inactive,
.primary-button-spinner,
.negative-button,
.negative-button-smallVersion,
.primary-button-smallVersion-inactive {
  border: none;
  border-radius: 4%;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.primary-button,
.primary-button-smallVersion,
.negative-button,
.negative-button-smallVersion
{
  cursor: pointer;
}

.primary-button,
.primary-button-smallVersion,
.primary-button-inactive,
.primary-button-spinner,
.primary-button-smallVersion-inactive {
  background: #00507c;
  color: #ffffff;
}

.primary-button-smallVersion-inactive {
  opacity: 0.4;
  cursor: default;
}
.negative-button,
.negative-button-smallVersion {
  background: #dcdce0;
  color: #000000;
}

.primary-button-spinner {
  padding: 10px 10px 10px 10px;
}

.primary-button,
.primary-button-inactive,
.negative-button {
  padding: 10px 10px;
  cursor: default;
}

.primary-button-smallVersion,
.negative-button-smallVersion,
.primary-button-smallVersion-inactive {
  padding: 10px 10px;
}

.primary-button:hover,
.primary-button:focus,
.primary-button-inactive:hover,
.primary-button-inactive:focus,
.primary-button-smallVersion:hover,
.primary-button-smallVersion:focus {
  background: #023b5a;
}

.negative-button:hover,
.negative-button:focus,
.negative-button-smallVersion:hover,
.negative-button-smallVersion:focus {
  background: #99999f;
}

.primary-button-inactive {
  opacity: 0.4;
}

.primary-button-text {
  margin-bottom: 0px;
}

.primary-button-text-smallVersion {
  margin-bottom: 0px;
}

.primary-button-clicked {
  padding: 10px 5px;
  border-radius: 4%;
  text-decoration: none;
  background: #ffffff;
  color: #99999f;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

.primary-button-clicked:hover,
.primary-button-clicked:focus {
  color: #00507c;
  cursor: pointer;
}

.primary-button-smallVersion-light {
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.primary-button-smallVersion-light h4 {
  color: #00507c;
}

.primary-button-smallVersion-light h4:hover {
  color: #001f30;
}

@media screen and (max-width: 800px) {
  .primary-button,
  .primary-button-inactive,
  .negative-button,
  .negative-button-smallVersion,
  .primary-button-clicked {
    padding: 10px 10px;
    border-radius: 3%;
  }
}

@media only screen and (max-width: 500px) {
  .primary-button-text {
    font-size: 1.1em;
  }

  .primary-button,
  .primary-button-inactive,
  .FollowButton:hover h2,
  .primary-button-clicked,
  .negative-button,
  .negative-button-smallVersion {
    padding: 8px 8px;
    border-radius: 2%;
  }
}
