.secondary-button {
  color: #00507c;
  padding: 8px 16px;
  border: 2px solid #00507c;
  cursor: pointer;
  box-sizing: border-box;
  margin: 1px;
}

.secondary-button-inactive {
  color: #99999f;
  padding: 8px 16px;
  border: 2px solid #99999f;
}

.secondary-button:hover {
  border-width: 3px;
  padding: 7px 15px;
}

.secondary-button-text {
  margin-bottom: 0px;
}

.secondary-button-light {
  color: #000000;
  padding: 8px 16px;
  cursor: pointer;
  box-sizing: border-box;
  margin: 1px;
}

.secondary-button-light h3 {
  color: #5d5d65;
}

.secondary-button-inactive-light {
  color: #99999f;
  padding: 8px 16px;
}

.secondary-button-light h3:hover {
  color: black;
}
