.tweet-toggle-container {
  display: flex;
  align-items: center;
  position: relative;
}

.twitter-toggle-logo {
  width: 24px;
  height: 24px;
  margin: 8px;
}

/* The switch - the box around the slider */
.twitter-toggle-switch {
  position: relative;
  width: 50px;
  height: 28px;
  margin-bottom: 0px;
}

/* Hide default HTML checkbox */
.twitter-toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.twitter-toggle-slider-round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 28px;
}

.twitter-toggle-slider-round:before {
  position: absolute;
  content: '';
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .twitter-toggle-slider-round {
  background-color: #2196f3;
}

input:focus + .twitter-toggle-slider-round {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .twitter-toggle-slider-round:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
