.change-group-section {
  margin: 1vh 0px;
}

.article-submitting-overlay .spinner-border {
  top: 50%;
  position: absolute;
}

.create-open-position-types-dropdown-option {
  white-space: nowrap;
  padding: 10px 0px;
  text-align: start;
}
