.open-position-dropdown-container {
  width: 25%;
  min-width: 200px;
  margin-bottom: 50px;
}

.open-position-dropdown path {
  fill: #00507c;
}

.dropdown-positioning {
  position: relative;
}

.create-open-position-types-dropdown-option {
  white-space: nowrap;
  padding: 10px 0px;
  text-align: start;
}

.change-group-section {
  margin: 1vh 0px;
}

.article-submitting-overlay .spinner-border {
  top: 50%;
  position: absolute;
}
