.open-position-description {
  overflow-y: hidden;
}

.article-list-item-small-description {
  height: 50px;
  overflow-y: hidden;
}

.resource-result-selector-container {
  display: flex;
  justify-content: flex-end;
}

.open-position-list-item-description-section {
  margin-top: 20px;
}
