.suggested-publication {
  border: 1px solid #dcdce0;
  padding: 10px;
}

.publication-meta {
  min-width: 100%;
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
}

.publication-page-quick-post-button-container {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.publication-journal-logo {
  min-width: 150px;
  max-height: 50px;
  object-fit: cover;
}

.publication-body {
  grid-column: 2/3;
}

.publication-body-authors {
  display: inline-block;
  margin-right: 10px;
}

.publication-page-title {
  margin: 20px 0px 10px;
}

.publication-section-title {
  color: #5d5d65;
  margin: 20px 0px 10px;
}

.publication-page-source-container,
.publication-page-source-container-shorter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.publication-page-source-container {
  margin-bottom: 10px;
}

.publication-page-source-container-shorter {
  margin-bottom: 0px;
}

.publication-page-source-link:hover .publication-page-extra-option-url {
  color: #00507c;
}

.publication-page-first-option-url {
  margin-top: 0px;
  color: #5d5d65;
}

.publication-page-source-options-button {
  color: #5d5d65;
}

.publication-page-source-extra-options-container {
}

.publication-page-source-extra-option {
}

.publication-page-extra-option-url {
  color: #5d5d65;
}

.publication-references-info-container {
  margin-top: 30px;
}

.publication-references-info {
  color: #5d5d65;
}

.publication-references-info button {
  color: #00507c;
}

.publication-references-info button:hover {
  color: #3099d3;
}

.publication-references-retrieval-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px 200px;
}

.publication-references-fetching-message {
  color: #5d5d65;
  margin-top: 20px;
}
