.edit-group-display-header-section {
  padding: 20px 0px 40px;
}

.edit-group-display-sub-title {
  padding-bottom: 10px;
  color: #5d5d65;
}

.edit-group-display-selector-container,
.edit-group-display-show-content-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 50px;
}

.edit-group-display-selector-and-shade-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.edit-group-display-light-or-dark-button-active,
.edit-group-display-light-or-dark-button-inactive {
  padding: 0px;
  margin-right: 20px;
  margin-top: 20px;
}

.edit-group-display-option-container-selected {
  border: 2px solid #00507c;
  margin: 2px 2px 30px 2px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
  background: #ffffff;
  padding: 18px 14px;
}

.edit-group-display-option-container {
  border: none;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  padding: 20px 16px;
  margin: 2px 2px 30px 2px;
}

.edit-group-display-light-or-dark-button-active {
  text-decoration: underline;
}

.edit-group-display-light-or-dark-button-inactive {
  color: #99999f;
}

.edit-group-display-light-or-dark-button-inactive:hover {
  color: #000000;
}

.edit-group-display-background-section .dropdown-custom-toggle {
  letter-spacing: 1.5px;
}

.edit-group-display-show-content-button-container {
  margin-bottom: 10px;
}

.edit-group-display-navigation-section {
  padding: 20px 0px 40px;
}

.edit-group-display-navigation-section .edit-group-display-sub-title {
  padding-bottom: 0px;
}

.edit-group-display-tab-container,
.edit-group-display-tab-container-selected {
  position: relative;
  background: #ffffff;
  padding: 10px 4px 30px;
}

.edit-group-display-selector-container span,
.edit-group-display-selector-and-shade-container span {
  color: #99999f;
  padding: 10px 10px 0px 0px;
}

.edit-group-display-tab-container-selected
  .edit-group-display-selector-container {
  background: #e7f5fc;
  display: flex;
  align-items: center;
}

.edit-group-display-tab-container-selected
  .edit-group-display-selector-container
  span {
  padding: 0px 10px 0px 0px;
}

.edit-group-display-tab-container::before,
.edit-group-display-tab-container-selected::before {
  content: '';
  height: 1px;
  bottom: -1px;
  width: 100%;
  position: absolute;
  background: linear-gradient(90deg, #ffffff, #979797, #ffffff);
  margin-bottom: 1px;
}

.edit-group-display-navigation-section .edit-group-display-selector-container {
  margin-bottom: 10px;
}

.edit-group-display-background-section .dropdown-custom-toggle {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #00507c;
  padding: 0px;
}

.edit-group-display-background-section .dropdown-relative-position,
.edit-group-display-background-section .dropdown-custom-toggle {
  width: 250px;
}

.edit-group-display-background-section .dropdown-option-button {
  padding: 10px 5px;
  border-bottom: 1px solid #789fb1;
}

.edit-group-display-preview-positioning-sizing {
  width: 100%;
  border: 1px solid #789fb1;
  position: relative;
}

.edit-group-display-preview-background-dark,
.edit-group-display-preview-background-light {
  position: absolute;
  z-index: -3;
  width: 100%;
  height: 100%;
}

.edit-group-display-preview-background-dark {
  background-color: #00507c;
}

.edit-group-display-preview-background-light {
  background-color: #ffffff;
}

.edit-group-preview-layout {
  display: grid;
  grid-template-columns: minmax(40px, 1fr) 2.8fr minmax(40px, 1fr);
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.edit-group-preview-group-header-section-light,
.edit-group-preview-group-header-section-dark {
  width: 100%;
}

.edit-group-preview-group-header-section-light {
  background: #ffffff;
}

.edit-group-preview-group-header-section-dark {
  background: #00507c;
}

.edit-group-preview-group-name,
.edit-group-preview-group-name-dark {
  height: 60px;
  margin-left: 60px;
  padding: 15px 20px 20px;
}
.edit-group-preview-group-name {
  background: #ffffff;
}

.edit-group-preview-group-name {
  color: #5d5d65;
}

.edit-group-preview-group-name-dark {
  color: #ffffff;
}

.edit-group-preview-group-name .edit-group-display-preview-institution {
  color: #979797;
}

.edit-group-preview-group-name-dark .edit-group-display-preview-institution {
  color: rgba(255, 255, 255, 0.4);
}

.edit-group-preview-group-cover,
.edit-group-preview-group-cover-dark {
  position: relative;
  height: 90px;
  width: 100%;
  background: #95a8b1;
}

.edit-group-preview-group-cover-dark {
  background: #789fb1;
}

.edit-group-preview-group-avatar {
  position: absolute;
  top: -35px;
  left: 5px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #b7d3e3;
  border: 1px solid #758d9a;
}

.edit-group-preview-group-content-block,
.edit-group-preview-group-content-block-3,
.edit-group-preview-group-content-block-2,
.edit-group-preview-group-content-block-dark,
.edit-group-preview-group-content-block-3-dark,
.edit-group-preview-group-content-block-2-dark {
  height: 110px;
  margin-top: 20px;
  width: 100%;
  display: block;
}

.edit-group-preview-group-content-block,
.edit-group-preview-group-content-block-3,
.edit-group-preview-group-content-block-2 {
  border: 1px solid #5d5d65;
  background-color: #f0f0f0;
}

.edit-group-preview-group-content-block-dark,
.edit-group-preview-group-content-block-3-dark,
.edit-group-preview-group-content-block-2-dark {
  border: 1px solid #d9e3e8;
  background-color: #ffffff;
}

.edit-group-preview-content {
  width: 100%;
  height: 100%;
  padding: 0px 20px;
}

.edit-group-preview-sider-left,
.edit-group-preview-sider-right {
  height: 100%;
  width: 100%;
}

.edit-group-preview-sider-left {
  border-right: 1px solid #5d5d65;
}

.edit-group-preview-sider-right {
  border-left: 1px solid #5d5d65;
}

.edit-group-preview-sider-right-dark,
.edit-group-preview-sider-left-dark {
  width: 100%;
}

.edit-group-preview-sider-left-dark {
  border-right: 4px solid #d9e3e8;
}
.edit-group-preview-sider-right-dark {
  border-left: 4px solid #d9e3e8;
}

@media screen and (max-width: 1700px) {
}
@media screen and (max-width: 1197px) {
  .edit-group-preview-layout {
    display: block;
  }

  .edit-group-preview-sider-left {
    display: none;
  }

  .edit-group-preview-sider-right {
    display: none;
  }

  .edit-group-preview-content {
    padding: 4px;
  }
}

@media screen and (max-width: 650px) {
  .edit-group-preview-group-content-block,
  .edit-group-preview-group-content-block-3,
  .edit-group-preview-group-content-block-2 {
    margin-top: 8px;
  }
}
