.image-upload * {
  margin: 5px;
}

.image-upload {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 5fr 1fr 1fr 1fr;
  column-gap: 20px;
  justify-items: center;
  align-items: center;
}

.image-upload-previews {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  height: 100%;
  width: 100%;
}
