.suggested-group-container {
  margin: 20px 0px;
}

.suggested-group-link {
  display: flex;
  align-items: center;
}

.suggested-group-link div {
  margin-left: 10px;
}

.group-header-light,
.group-header-dark {
  display: grid;
  grid-template-columns: 165px 1fr;
  grid-template-rows: none;
  min-width: 100%;

  padding-top: 8px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.group-header-light {
  background: #ffffff;
}

.group-header-dark {
  background: #00507c;
}

.group-icon-and-message {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  position: relative;
}

.group-header-info-light,
.group-header-info-dark {
  grid-column: 2/3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 0px;
}

.group-header-info-light h4 {
  color: #5d5d65;
}
.group-header-info-dark h4 {
  color: #ccd6da;
}

.group-description {
  margin-top: 10px;
}

.group-description .see-more-container-light {
  background: #ffffff;
  border: 1px solid #dcdce0;
  padding: 5px 5px 0px 5px;
  margin-bottom: 5px;
}

.group-description .see-more-container-dark {
  background: #064262;
  padding: 5px 5px 0px 5px;
  margin-bottom: 5px;
  border: 1px solid #0a3b5b;
}

.group-description-see-more {
  display: flex;
  justify-content: flex-end;
}

.pinned-item-container {
  margin: 10px 0px;
}

.donation-link-container-light {
  background-color: #ffffff;
}

.donation-link-container-dark {
  background-color: #064262;
}

.donation-link-container-dark h4 {
  color: #ffffff;
}

.donation-link-container-dark .group-verification-confirmation-explanation {
  color: #ccd6da;
}

.donation-link-container-dark .donation-link-donate-container p {
  color: #9ebdd0;
}

.donation-link-container-dark .donation-link-donate-container p,
.donation-link-container-light .donation-link-donate-container p {
  margin-bottom: 0px;
}
.donation-link-container-light,
.donation-link-container-dark {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.donation-link-donate-container p {
  color: #99999f;
  margin-top: 5px;
}

.donation-link-verified-container {
  width: 60%;
}

.donation-link-donate-container {
  display: inline-block;
  width: 40%;
  text-align: right;
}

.registered-charity-text {
  color: #00507c;
}

.donate-button-light,
.donate-button-dark {
  border-radius: 4%;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 10px 10px;
}

.donate-button-light h3,
.donate-button-dark h3 {
  margin-bottom: 0px;
}

.donate-button-light {
  color: #00507c;
  border: 2px solid #00507c;
  background: #eaf5fb;
}

.donate-button-light:hover {
  padding: 9px 9px;
  border: 3px solid #00507c;
}

.donate-button-dark {
  border: 2px solid #ffffff;
  background: #053651;
  color: #ffffff;
}

.donate-button-dark:hover {
  padding: 9px 9px;
  border: 3px solid #ffffff;
  background: #053651;
  color: #ffffff;
}

.edit-group-link:hover {
  text-decoration: none;
}
.generated-group-container {
  display: grid;
  grid-template-columns: 1fr 130px;
  align-items: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px 0px;
  background: #ffffff;
}

.claim-group-button-container {
  justify-self: flex-end;
}
.generated-group-title {
  color: #00507c;
}

.generated-group-explanation {
  color: #5d5d65;
}

.donate-button:hover {
  border-width: 3px;
  padding: 9px 9px;
}

.donate-button h3 {
  margin-bottom: 0px;
}

.group-verification-confirmation-explanation {
  color: #5d5d65;
}

.group-website-follow-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0px;
}

.group-details-internal-headline-section {
  position: relative;
  width: 100%;
}

.group-details-internal-headline-section .cover-image-greyed,
.group-details-internal-headline-section .cover-image {
  position: absolute;
  width: 100%;
}

.group-details-internal-headline-avatar-text-container {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.group-details-internal-headline-avatar-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  padding: 20px 10px;
}

.group-details-internal-headline-avatar-container .rounded-circle {
  border: 1px solid #ffffff;
}

.group-details-internal-headline-avatar-container img {
  height: 160px;
  width: 160px;
}

.group-details-internal-name-institution-light,
.group-details-internal-name-institution-dark {
  z-index: 1;
  align-self: center;
  padding-right: 5px;
}

.group-details-internal-name-institution-light {
  color: #ffffff;
}
.group-details-internal-name-institution-dark {
  color: #343a3e;
}

.group-details-internal-name-institution-dark h2,
.group-details-internal-name-institution-light h2 {
  font-size: 1.4em;
}

.group-details-internal-name-institution-dark h4,
.group-details-internal-name-institution-light h4 {
  font-size: 1.2em;
}

.group-details-no-avatar-name-institution-container-light {
  background: #ffffff;
  padding: 8px 4px 10px 5px;
}

.group-details-no-avatar-name-institution-container-light h2 {
  margin-bottom: 0px;
}

.group-details-no-avatar-name-institution-container-light h4 {
  color: #5d5d65;
}

.group-details-no-avatar-name-institution-container-dark {
  background: #00507c;
  padding: 8px 4px 10px 5px;
}

.group-details-no-avatar-name-institution-container-dark h2 {
  margin-bottom: 0px;
}

.group-details-no-avatar-name-institution-container-dark h4 {
  color: #ccd6da;
}

.group-details-no-avatar-center-name-light {
  letter-spacing: 0.07em;
  font-size: 0.9em;
  color: #343a3e;
  text-align: center;
  background: #ffffff;
  padding: 8px 4px 0px 5px;
}

.group-details-no-avatar-center-name-dark {
  letter-spacing: 0.07em;
  font-size: 0.9em;
  color: #ffffff;
  text-align: center;
  background: #00507c;
  padding: 8px 4px 0px 5px;
}

.group-details-no-avatar-institution-light {
  padding-bottom: 10px;
  color: #5d5d65;
}

.group-details-no-avatar-institution-dark {
  padding-bottom: 10px;
  color: #ffffff;
}

.group-website-link-light {
  background: #ffffff;
  padding: 5px 6px 5px 4px;
  border: 1px solid #00507c;
}

.group-website-link-dark {
  background: #064262;
  padding: 5px 6px 5px 4px;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.group-website-link-light svg,
.group-website-link-dark svg {
  height: 20px;
}

.group-website-link-light path {
  fill: #00507c;
}

.group-website-link-dark path {
  fill: #ffffff;
}

.group-details-claim-group-confirm-button-container {
  padding: 5px 0px;
  text-align: center;
}

.group-website-link-light span,
.group-website-link-dark span {
  position: relative;
  display: inline-block;
  top: 1px;
}

.group-website-link-dark:hover {
  color: #ffffff;
  text-decoration: none;
  border: 2px solid #ffffff;
  padding: 4px 5px 4px 3px;
}

.group-website-link-light:hover {
  border: 2px solid #00507c;
  padding: 4px 5px 4px 3px;
  text-decoration: none;
}

.group-cover-photo-container {
  width: 100%;
  position: relative;
  min-height: 6vw;
}

.group-avatar-positioning {
  position: absolute;
  z-index: 1;
}

.group-page-details-loading {
  height: 250px;
  animation: pulse 2s infinite;
  -webkit-animation: pulse 2s infinite;
  -moz-animation: pulse 2s infinite;
  -o-animation: pulse 2s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
}

.group-page-details-loading .spinner-border {
  color: #ffffff;
}

.group-page-overview-members-reel-dark
  .group-page-overview-members-reel-sub-title {
  color: #ccd6da;
}

.group-page-overview-members-reel-light
  .group-page-overview-members-reel-sub-title {
  color: #5d5d5d;
}
.group-page-member-reel-avatar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
}

.group-page-member-reel-avatar-container img {
  height: 220px;
  width: 220px;
}

.match-avatar-height-width {
  height: 220px;
  width: 220px;
  position: relative;
  overflow-x: hidden;
}

.group-page-member-reel-avatar-container svg {
  height: 40px;
  padding: 0px 20px;
  cursor: pointer;
}

.next-previous-member-reel-button-light,
.next-previous-member-reel-button-dark {
  padding: 0px;
}

.next-previous-member-reel-button-light:hover path {
  fill: #063854;
}

.next-previous-member-reel-button-dark path {
  fill: #ffffff;
}
.next-previous-member-reel-button-dark:hover path {
  fill: #a1dcfc;
}

.group-page-overview-members-reel-name-light:hover {
  color: #00507c;
}

.group-page-overview-members-reel-name-dark:hover {
  color: #ffffff;
  text-decoration: underline;
}

.group-page-overview-members-reel-name-dark {
  color: #ffffff;
}

.group-page-overview-members-reel-name-light,
.group-page-overview-members-reel-name-dark {
  text-align: center;
}

.group-page-overview-members-reel-position-light,
.group-page-overview-members-reel-position-dark {
  text-align: center;
}

.group-page-overview-members-reel-position-light {
  color: #5d5d5d;
}

.group-page-overview-members-reel-position-dark {
  color: #ccd6da;
}

.group-page-overview-section-container-dark,
.group-page-overview-section-container-light {
  margin-bottom: 40px;
  padding: 10px;
}

.next-previous-member-reel-avatar-button img {
  position: absolute;
  z-index: 1;
  left: 0px;
  -webkit-animation: slide 1s cubic-bezier(0.01, 0.9, 1, 1);
  animation: slide 1s cubic-bezier(0.01, 0.9, 1, 1);
}

.next-previous-member-reel-avatar-button:hover {
  opacity: 0.5;
}

.group-page-overview-section-container-light {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
  background: #ffffff;
}

.group-page-overview-section-title-light {
  color: #99999f;
}

.group-page-overview-section-container-dark {
  background: #064262;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
}

.group-page-overview-section-title-dark {
  color: #9ebdd0;
}
@media screen and (max-width: 1300px) {
  .group-details-internal-headline-avatar-container img {
    height: 140px;
    width: 140px;
  }
  .group-details-internal-headline-avatar-text-container {
    grid-template-columns: 160px 1fr;
  }
}

@media screen and (max-width: 650px) {
  .group-details-internal-headline-avatar-container img {
    height: 110px;
    width: 110px;
  }
  .group-details-internal-headline-avatar-text-container {
    grid-template-columns: 150px 1fr;
  }

  .group-page-member-reel-avatar-container img {
    height: 190px;
    width: 190px;
  }

  .match-avatar-height-width {
    height: 190px;
    width: 190px;
  }
}

@media screen and (max-width: 600px) {
  .group-icon-and-message img {
    width: 110px;
    height: 110px;
  }
  .group-header {
    grid-template-columns: 120px 1fr;
  }

  .group-details-internal-headline-avatar-container {
    padding: 10px 10px 10px 2px;
  }

  .group-details-internal-name-institution-dark h2,
  .group-details-internal-name-institution-light h2 {
    font-size: 1.3em;
  }

  .group-details-internal-name-institution-dark h4,
  .group-details-internal-name-institution-light h4 {
    font-size: 1.1em;
  }
  .group-details-internal-headline-avatar-container img {
    height: 100px;
    width: 100px;
  }
  .group-details-internal-headline-avatar-text-container {
    grid-template-columns: 130px 1fr;
  }
}

@media screen and (max-width: 500px) {
  .group-page-member-reel-avatar-container svg {
    height: 35px;
    padding: 0px 15px;
  }

  .generated-group-container {
    display: block;
  }

  .claim-group-button-container {
    display: flex;
    justify-content: center;
  }
  .group-details-internal-name-institution-dark h2,
  .group-details-internal-name-institution-light h2 {
    font-size: 1.1em;
  }

  .group-details-internal-name-institution-dark h4,
  .group-details-internal-name-institution-light h4 {
    font-size: 0.8em;
  }
  .group-details-internal-headline-avatar-container img {
    height: 90px;
    width: 90px;
  }
  .group-details-internal-headline-avatar-text-container {
    grid-template-columns: 110px 1fr;
  }

  .donation-link-verified-container {
    width: 100%;
    display: block;
  }

  .donation-link-donate-container {
    display: block;
    text-align: center;
    width: 100%;
  }

  .donation-link-container-light,
  .donation-link-container-dark {
    margin-left: 1px;
    margin-right: 1px;
  }
}

@media screen and (max-width: 400px) {
  .group-icon-and-message img {
    width: 90px;
    height: 90px;
  }
  .group-header {
    display: block;
  }
  .group-avatar-positioning {
    top: -50px;
    left: calc(50% - 45px);
  }

  .group-website-follow-container {
    margin-top: 10px;
  }
  .group-details-internal-headline-avatar-container img {
    height: 70px;
    width: 70px;
  }
  .group-details-internal-headline-avatar-text-container {
    grid-template-columns: 77px 1fr;
  }
  .group-details-internal-name-institution-dark h2,
  .group-details-internal-name-institution-light h2 {
    font-size: 1em;
  }

  .group-details-internal-name-institution-dark h4,
  .group-details-internal-name-institution-light h4 {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 300px) {
  .group-icon-and-message img {
    width: 60px;
    height: 60px;
  }
  .group-header {
    display: block;
  }
  .group-avatar-positioning {
    top: -40px;
    left: calc(50% - 30px);
  }

  .group-website-follow-container {
    margin-top: 10px;
  }
  .group-details-internal-name-institution-dark h2,
  .group-details-internal-name-institution-light h2 {
    font-size: 0.9em;
  }

  .group-details-internal-name-institution-dark h4,
  .group-details-internal-name-institution-light h4 {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 250px) {
  .group-icon-and-message img {
    width: 60px;
    height: 60px;
  }
  .group-header {
    display: block;
  }
  .group-avatar-positioning {
    top: -40px;
    left: calc(50% - 30px);
  }

  .group-website-follow-container {
    margin-top: 30px;
  }
}
