.suggested-group-container {
  margin: 20px 0px;
}

.suggested-group-link {
  display: flex;
  align-items: center;
}

.suggested-group-link div {
  margin-left: 10px;
}

.group-header {
  display: grid;
  grid-template-columns: 165px 1fr;
  grid-template-rows: none;
  min-width: 100%;
}

.group-icon-and-message {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
}

.group-header-info {
  grid-column: 2/3;
  margin-left: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.group-header-info h3 {
  color: #5d5d65;
}

.group-description {
  margin-top: 10px ;
  overflow-y: hidden;
}

.group-description-see-more {
  display: flex;
  justify-content: flex-end;
}

.pinned-post-container {
  margin: 10px 0px;
}

.donation-link-container {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
}

.donation-link-donate-container p {
  color: #99999f;
  margin-top: 5px;
}

.donation-link-verified-container {
  width: 50%;
}

.donation-link-donate-container {
  display: inline-block;
  width: 40%;
  text-align: right;
}

.registered-charity-text {
  color: #00507c;
}

.donate-button {
  border-radius: 4%;
  text-decoration: none;
  border: 2px solid #00507c;
  background: #eaf5fb;
  color: #00507c;
  cursor: pointer;
  text-align: center;
  padding: 10px 10px;
}

.donate-button:hover {
  border-width: 3px;
  padding: 9px 9px;
}

.donate-button h3 {
  margin-bottom: 0px;
}

.group-verification-confirmation-explanation {
  color: #5d5d65;
}

.group-email-edit-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.group-website-link {
  margin-bottom: 4px;
}

.group-website-link svg {
  height: 25px;
}

.group-website-link path {
  fill: #00507c;
}

.group-website-link span {
  position: relative;
  display: inline-block;
  top: 1px;
}

.group-website-link:hover {
  text-decoration: none;
  color: #3099d3;
}

.group-page-details-loading {
  height: 250px;
  animation: pulse 2s infinite;
  -webkit-animation: pulse 2s infinite;
  -moz-animation: pulse 2s infinite;
  -o-animation: pulse 2s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
}

.group-page-details-loading .spinner-border {
  color: #ffffff;
}

@keyframes pulse {
  0% {
    background-color: rgba(243, 243, 243);
  }
  50% {
    background-color: rgba(223, 223, 224);
  }
  100% {
    background-color: rgba(243, 243, 243);
  }
}

@-webkit-keyframes pulse {
  0% {
    background-color: rgba(243, 243, 243);
  }
  50% {
    background-color: rgba(223, 223, 224);
  }
  100% {
    background-color: rgba(243, 243, 243);
  }
}

@media screen and (max-width: 600px) {
  .group-icon-and-message img {
    width: 90px;
    height: 90px;
  }
  .group-header {
    grid-template-columns: 100px 1fr;
  }
}
