.group-list-item-container,
.group-list-item-container-no-border {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: none;
  max-width: 100%;
}

.group-list-item-container {
  margin: 2px 2px 30px 2px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
  padding: 20px 16px 10px 0px;
}

.group-list-item-container-no-border {
  margin: 20px 0px;
}

.group-list-item-container a:hover,
.group-list-item-container-no-border a:hover {
  text-decoration: none;
}

.group-list-item-name-institution-container {
  margin-right: 5px;
}

.group-list-item-name-follow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.group-list-item-name-follow h4 {
  margin-bottom: 10px;
}

.group-list-item-follow-button-container {
  margin-bottom: 10px;
}

.group-list-item-icon {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.group-list-item-icon img {
  align-self: center;
}

.group-list-item-icon p {
  text-align: center;
  color: #99999f;
  margin-top: 4px;
}

.group-list-item-icon:hover p {
  color: #000000;
}

.group-list-item-text-container {
  grid-column: 2/3;
}

.group-list-item-text-container a:hover {
  text-decoration: none;
}

.group-list-item-text-container h3:hover {
  color: #99999f;
}

.group-list-item-text-container h3 {
  color: #000000;
}

.group-list-item-text-container h3 {
  margin-bottom: 5px;
}

.group-dropdown-item {
  display: grid;
  padding: 10px 5px;
  grid-template-columns: 110px 4fr 4fr;
  align-items: center;
  justify-items: flex-start;
  width: 100%;
}

.group-dropdown-item-name {
  margin-left: 10px;
  white-space: pre-wrap;
  text-align: start;
  color: #00507c;
}

.group-dropdown-item-institution {
  margin-left: 10px;
  white-space: pre-wrap;
  color: #00507c;
  text-align: start;
}

.group-headline-item-container {
  width: 100%;
  display: flex;
}

.group-headline-item-container h3 {
  color: #000000;
}

.group-headline-item-container h4 {
  color: #99999f;
}

.group-list-item-follow-options-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
}

.group-list-item-follow-options-button-container {
  position: relative;
}

@media screen and (max-width: 600px) {
  .group-list-item-icon img {
    width: 80px;
    height: 80px;
  }

  .group-dropdown-item .group-list-item-icon {
    margin-bottom: 0px;
  }

  .group-list-item-container,
  .group-list-item-container-no-border {
    grid-template-columns: 100px 1fr;
  }

  .group-dropdown-item {
    padding: 5px 5px;
    grid-template-columns: 60px 4fr 4fr;
  }

  .group-dropdown-item img {
    width: 50px;
    height: 50px;
  }
  .group-dropdown-item-name {
    margin-left: 5px;
  }

  .group-dropdown-item-institution {
    margin-left: 5px;
  }
}
@media screen and (max-width: 360px) {
  .group-list-item-container,
  .group-list-item-container-no-border {
    display: block;
    padding-left: 10px;
  }
  .group-list-item-container .group-list-item-icon {
    margin: 0px 0px 15px 0px;
  }
}
