.group-signature-container {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0px 0px;
}

.group-signature-link-light:hover .group-signature-name {
  text-decoration: underline;
  color: #00507c;
}

.group-signature-link-dark:hover .group-signature-name,
.group-signature-link-dark:hover {
  text-decoration: underline;
  color: #ffffff;
}

.group-signature-link-dark {
  color: #ffffff;
}

.group-signature-link:hover img {
  opacity: 0.5;
}

.group-signature-text-container {
  display: inline-block;
  margin-left: 10px;
}

.group-signature-institution-light {
  color: #99999f;
}

.group-signature-institution-dark {
  color: #ccd6da;
}
