.user-listItem-container,
.user-listItem-container-no-border {
  display: grid;
  grid-template-columns: 3fr 2.5fr 1fr;
  align-items: center;
}

.user-listItem-container-follows-options {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  align-items: center;
  border-bottom: 1px solid #dcdce0;
}

.user-listItem-container {
  border-bottom: 1px solid #dcdce0;
}

.user-listItem-link {
  display: grid;
  grid-template-columns: minmax(90px, 100px) 2fr;
  align-items: center;
}

.tag-container {
  display: grid;
  grid-template-columns: 90px 4fr 1fr;
  grid-row: auto;
  align-items: center;
  padding-right: 10px;
  /* border-bottom: 1px solid #dcdce0; */
}

.Avatar {
  grid-column: 1/2;
  display: block;
  margin: 10px;
}

.AvatarSmall {
  display: none;
}

.user-listItem-name h4 {
  display: none;
}

.user-listItem-link h2:hover,
.user-listItem-link h4:hover {
  text-decoration: underline;
}
.user-listItem-name h2 {
  display: inline-block;
  grid-column: 1/2;
}

.user-listItem-institution {
  color: #5d5d65;
  grid-column: 2/3;
}

.Follow {
  grid-column: 3/4;
  justify-self: flex-end;
}

.info-title {
  grid-column: 1/4;
  margin-top: 30px;
  padding: 0px;
  align-self: flex-end;
  line-height: 0px;
  color: #99999f;
}

.user-list-item-default-avatar {
  display: inline-block;
  width: 60px;
  height: 60px;
}

.user-list-item-default-avatar-small {
  display: none;
}

.user-list-item-options-button-position {
  position: relative;
  width: 65px;
}

@media screen and (max-width: 560px) {
  .user-listItem-institution {
    color: #5d5d65;
    font-size: 14px;
  }

  .user-listItem-link {
    grid-template-columns: minmax(50px, 70px) 2fr;
  }

  .user-listItem-name h4 {
    display: inline-block;
    grid-column: 1/2;
  }

  .user-listItem-name h2 {
    display: none;
  }

  .Avatar {
    display: none;
  }
  .AvatarSmall {
    display: block;
    margin: 5px;
  }

  .user-list-item-default-avatar-small {
    display: inline-block;
    width: 40px;
    height: 40px;
  }

  .user-list-item-default-avatar {
    display: none;
  }

  .tag-container {
    display: grid;
    grid-template-columns: 80px 4fr 1fr;
    align-items: center;
  }
}

.user-listItem-email {
  color: #5d5d65;
}
