.user-list-item-container-light,
.user-list-item-container-light-no-border,
.user-list-item-container-dark,
.user-list-item-container-dark-no-border {
  display: grid;
  grid-template-columns: 3fr 2.5fr 1fr;
  align-items: center;
  padding-right: 10px;
}

.user-list-item-container-light,
.user-list-item-container-light-no-border {
  background-color: rgba(255, 255, 255, 0.9);
}

.user-list-item-container-dark,
.user-list-item-container-dark-no-border {
  background-color: rgb(0, 80, 124, 0.95);
}

.user-list-item-container-follows-options {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  align-items: center;
  border-bottom: 1px solid #dcdce0;
}

.user-list-item-container-light {
  border-bottom: 1px solid #dcdce0;
}

.user-list-item-container-dark {
  border-bottom: 1px solid #5d7f95;
}

.user-list-item-link-light,
.user-list-item-link-dark {
  display: grid;
  grid-template-columns: minmax(90px, 100px) 2fr;
  align-items: center;
  cursor: pointer;
}

.user-list-item-link-light:hover h2,
.user-list-item-link-dark:hover h2 {
  text-decoration: underline;
}

.tag-container {
  display: grid;
  grid-template-columns: 90px 4fr 1fr;
  grid-row: auto;
  align-items: center;
  padding-right: 10px;
  /* border-bottom: 1px solid #dcdce0; */
}

.Avatar {
  grid-column: 1/2;
  display: block;
  margin: 10px;
}

.AvatarSmall {
  display: none;
}

.user-list-item-name h4 {
  display: none;
}

.user-list-item-name h2 {
  display: inline-block;
  grid-column: 1/2;
}

.user-list-item-link-light h2 {
}

.user-list-item-link-dark h2 {
  color: #ffffff;
}

.user-list-item-institution-light {
  color: #5d5d65;
  grid-column: 2/3;
}

.user-list-item-institution-dark {
  color: #ccd6da;
  grid-column: 2/3;
}

.Follow {
  grid-column: 3/4;
  justify-self: flex-end;
}

.info-title {
  grid-column: 1/4;
  margin-top: 30px;
  padding: 0px;
  align-self: flex-end;
  line-height: 0px;
  color: #99999f;
}

.user-list-item-default-avatar {
  display: inline-block;
  width: 60px;
  height: 60px;
}

.user-list-item-default-avatar-small {
  display: none;
}

.user-list-item-options-button-position {
  position: relative;
  width: 65px;
}

.user-list-item-edit-bio button {
  display: flex;
  align-items: center;
}

.user-list-item-edit-bio button:hover {
  color: #00507c;
}

.user-list-item-edit-bio svg {
  margin-right: 5px;
}

.user-list-item-edit-bio-expanded-container {
  margin: 20px 0px 40px;
}
@media screen and (max-width: 560px) {
  .user-list-item-institution {
    color: #5d5d65;
    font-size: 14px;
  }

  .user-list-item-container-light,
  .user-list-item-container-light-no-border,
  .user-list-item-container-dark,
  .user-list-item-container-dark-no-border {
    display: grid;
    grid-template-columns: 3fr 2.5fr 1fr;
    align-items: center;
    padding-right: 5px;
  }

  .user-list-item-link {
    grid-template-columns: minmax(50px, 70px) 2fr;
  }

  .user-list-item-name h4 {
    display: inline-block;
    grid-column: 1/2;
  }

  .user-list-item-name h2 {
    display: none;
  }

  .Avatar {
    display: none;
  }
  .AvatarSmall {
    display: block;
    margin: 5px;
  }

  .user-list-item-default-avatar-small {
    display: inline-block;
    width: 40px;
    height: 40px;
  }

  .user-list-item-default-avatar {
    display: none;
  }

  .tag-container {
    display: grid;
    grid-template-columns: 80px 4fr 1fr;
    align-items: center;
  }
}

.user-list-item-email {
  color: #5d5d65;
}
