.MenuIcons {
  display: inline-block;
  width: 15%;
}

.dropdown-header {
  color: #00507c;
  display: flex;
  cursor: pointer;
  align-content: center;
  justify-content: center;
}

.DropDownMenu {
  height: auto;
}

.LinkItem {
  width: 100%;
  display: inline-block;
  height: 10px;
  color: #00507c;
  margin-left: 6px;
}

.DropDownHeaderSmall {
  display: none;
}

.dropdown-divider {
  width: 100%;
  height: 1px;
  background: #99999f;
}

.dropdown-group-subtitle {
  color: #5d5d65;
  font-size: 1.1em;
  margin: -5px 0px 0px 5px;
}

.log-out-container {
  margin-left: 40px;
}

.dropdown-name {
  font-size: 1.2em;
}

.log-out-button {
  color: #99999f;
}

@media screen and (max-width: 1007px) {
  .dropdown-name {
    display: none;
    padding: none;
  }

  .dropdown-header {
    max-width: 100%;
  }
}
