.dropdown-header {
  color: #00507c;
  display: flex;
  cursor: pointer;
  align-content: center;
  justify-content: center;
  padding-right: 20px;
  font-size: inherit;
}

.sign-in {
  padding-right: 40px;
}

.dropdown {
  margin-right: 0px;
  display: flex;
  align-items: center;
  max-width: 100%;
}

.dropdown h3 {
  margin-bottom: 0px;
}

.dropdown-menu {
  width: 300px;
  overflow-x: hidden;
}

/* bootstrap classes */
.dropdown-item {
  max-width: 295px;
  width: 295px;
  overflow-x: hidden;
  padding-right: 5px;
}

/* labspoon classes */
.dropdown-menu .dropdown-link-item,
.dropdown-menu .dropdown-link-item-less-emphasis {
  width: 295px;
  max-width: 295px;
  height: 28px;
  overflow-x: hidden;
  margin-left: 6px;
  margin-bottom: 0px;
}

.dropdown-menu .dropdown-link-item {
  color: #00507c;
}

.dropdown-menu .dropdown-link-item-less-emphasis {
  color: #5d5d65;
}

.DropDownHeaderSmall {
  display: none;
}

.dropdown-divider {
  width: 100%;
  height: 1px;
  background: #99999f;
}

.dropdown-group-subtitle {
  color: #5d5d65;
  font-size: 1.1em;
  margin: -5px 13px 0px 5px;
}

.log-out-container {
  margin-left: 40px;
}

.dropdown-name {
  margin-left: 4px;
}

.log-out-button {
  color: #99999f;
}

.avatar-dropdown-item-container {
  display: grid;
  grid-template-columns: 15px 1fr;
  align-items: center;
}
@media screen and (max-width: 850px) {
  .dropdown-name {
    display: none;
    padding: none;
  }
}

@media screen and (max-width: 500px) {
  .dropdown-header {
    padding-right: 0px;
    padding-left: 0px;
  }

  .dropdown-header img {
    height: 40px;
    width: 40px;
  }
  .dropdown {
    margin-right: 0px;
    display: flex;
    align-items: center;
    max-width: 100%;
  }
}
