.header-container {
  display: grid;
  grid-template-columns: 400px 1fr 400px;
  grid-template-rows: none;
  align-items: center;
  background: #eaf1f5;
  height: 100%;
}

.header-logo {
  display: inline-block;
  padding-left: 10px;
  grid-column: 1 / 2;
}

.header-add-button {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
}

.header-right-section {
  justify-self: flex-end;
  display: flex;
  align-items: center;
}

.key-links-options-toggle-button path {
  fill: #00507c;
}

.key-links-options-toggle-button svg {
  height: 10px;
}

.key-links-options-toggle-button {
  width: 100px;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
  margin-right: 4px;
}

.header-drop-down {
  display: inline-block;
  justify-self: flex-end;
  grid-column: 4 / 5;
  max-height: 100%;
  max-width: 100%;
  margin-left: 5px;
}

.header-home-text {
  display: inline-block;
  margin-left: 5px;
}

.header-home-link:hover span {
  color: #3099d3;
}

@media screen and (max-width: 1550px) {
  .header-container {
    grid-template-columns: 350px 1fr 350px;
  }
}

@media screen and (max-width: 1400px) {
  .header-container {
    grid-template-columns: 300px 1fr 300px;
  }
}

@media screen and (max-width: 1300px) {
  .header-container {
    grid-template-columns: 250px 1fr 280px;
  }
}

@media screen and (max-width: 1197px) {
  .header-container {
    grid-template-columns: 60px 1fr 350px;
  }

  .header-home-text {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .header-container {
    grid-template-columns: 60px 1fr 190px;
  }
}

@media screen and (max-width: 664px) {
  .header-container {
    grid-template-columns: 60px 1fr 180px;
  }
}

@media screen and (max-width: 500px) {
  .header-drop-down {
    display: inline-block;
    justify-self: flex-end;
    padding-right: 5px;
    grid-column: 3 / 4;
    max-height: 100%;
  }
  .header-logo svg {
    height: 30px;
  }
  .header-logo {
    padding-left: 5px;
  }

  .header-drop-down {
    margin-left: 0px;
    padding: 0px;
  }
  .header-right-section {
    width: 110px;
  }
}

@media screen and (max-width: 499px) {
  .header-container {
    display: grid;
    grid-template-columns: 55px 1fr 110px;
  }
}
