.header-container {
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  grid-template-rows: none;
  align-items: center;
  background: #eaf1f5;
  padding: 0 0;
  width: 100%;
  height: 100%;
}

.header-search {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  justify-self: flex-start;
  width: 100%;
}

.search-bar {
  grid-column: 2 / 3;
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.header-logo {
  display: inline-block;
  padding-left: 10px;
  grid-column: 1 / 2;
}

.search-icon {
  display: inline-block;
}

.search-icon-small {
  display: none;
}

.header-search input {
  display: inline-block;
  flex-grow: 1;
  height: 38px;
  border: 1px solid #00507c;
  border-radius: 0%;
}

.header-drop-down {
  display: inline-block;
  justify-self: flex-end;
  padding-right: 20px;
  grid-column: 3 / 4;
  max-height: 100%;
}

@media screen and (max-width: 1007px) {
  .header-container {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: none;
    align-items: center;
    background: #eaf1f5;
    padding: 0 0;
    width: 100%;
    height: 100%;
  }

  .header-drop-down {
    display: inline-block;
    justify-self: flex-end;
    padding-right: 15px;
    grid-column: 3 / 4;
    max-height: 100%;
  }
}

@media screen and (max-width: 664px) {
  .search-icon {
    display: none;
  }

  .search-icon-small {
    display: inline-block;
  }

  .header-container {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    grid-template-rows: none;
    align-items: center;
    background: #eaf1f5;
    padding: 0 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 470px) {
  .header-container {
    display: grid;
    grid-template-columns: 75px 1fr 80px;
    grid-template-rows: none;
    align-items: center;
    background: #eaf1f5;
    padding: 0 0;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 368px) {
  .search-icon {
    display: none;
  }

  .search-icon-small {
    display: none;
  }
  .header-container {
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    grid-template-rows: none;
    align-items: center;
    background: #eaf1f5;
    padding: 0 0;
    width: 100%;
    height: 100%;
  }

  .header-drop-down {
    display: inline-block;
    justify-self: flex-end;
    padding-right: 10px;
    grid-column: 3 / 4;
    max-height: 100%;
  }
}
