.header-container {
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  grid-template-rows: none;
  align-items: center;
  background: #eaf1f5;
  padding: 0 0;
  width: 100%;
  height: 100%;
}

.header-logo {
  display: inline-block;
  padding-left: 10px;
  grid-column: 1 / 2;
}

.header-drop-down {
  display: inline-block;
  justify-self: flex-end;
  grid-column: 3 / 4;
  max-height: 100%;
  max-width: 100%;
}

.header-home-text {
  display: inline-block;
  margin-left: 5px;
}

.header-home-link:hover span {
  color: #3099d3;
}

@media screen and (max-width: 1017px) {
  .header-home-text {
    display: none;
  }

  .header-container {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: none;
    align-items: center;
    background: #eaf1f5;
    padding: 0 0;
    width: 100%;
    height: 100%;
  }

  .header-drop-down {
    display: inline-block;
    justify-self: flex-end;
    padding-right: 15px;
    grid-column: 3 / 4;
    max-height: 100%;
  }
}

@media screen and (max-width: 664px) {
  .header-container {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    grid-template-rows: none;
    align-items: center;
    background: #eaf1f5;
    padding: 0 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 780px) {
  .header-container {
    display: grid;
    grid-template-columns: 75px 1fr 80px;
    grid-template-rows: none;
    align-items: center;
    background: #eaf1f5;
    padding: 0 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 460px) {
  .header-container {
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    grid-template-rows: none;
    align-items: center;
    background: #eaf1f5;
    padding: 0 0;
    width: 100%;
    height: 100%;
  }

  .header-drop-down {
    display: inline-block;
    justify-self: flex-end;
    padding-right: 10px;
    grid-column: 3 / 4;
    max-height: 100%;
  }
}
