.create-resource-submit-cancel-container,
.create-resource-submit-cancel-container-no-border {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
}

.create-resource-submit-cancel-container {
  border-top: 1px solid #99999f;
  margin-top: 40px;
  padding-top: 10px;
}

.create-resource-submit-cancel-container-no-border {
  margin-top: 10px;
}
