.form-text-input,
.form-text-input-disabled {
  border: 1px solid #99999f;
  line-height: 40px;
  width: 100%;
  padding-left: 10px;
  min-width: 200px;
}

.form-text-input-disabled {
  background: #dcdce0;
}

.form-input-label-disabled {
  color: #99999f;
}
.form-text-input-container {
  margin: 40px 0px;
}

.form-text-input-container-side-label {
  display: grid;
  grid-template-columns: 200px 1fr;
  margin: 0px 0px 40px 0px;
  align-items: center;
}

.form-text-input-container-no-label {
  margin-bottom: 10px;
}

.create-post-main-text {
  height: 100px;
  min-width: 100%;
  max-width: 100%;
  overflow-wrap: break-word;
  overflow-x: hidden;
  resize: none;
  border: none;
  font-size: 1.1em;
}

.create-post-main-text:focus {
  outline: none;
}

.form-text-area {
  min-width: 100%;
  max-width: 100%;
  overflow-wrap: break-word;
  overflow-x: hidden;
  resize: none;
  border: none;
  font-size: 1.1em;
  border: 1px solid #99999f;
}

@media screen and (max-width: 800px) {
  .form-text-input-container-side-label {
    display: flex;
    flex-wrap: wrap;
  }
  .form-text-input-container-side-label h4 {
    margin-right: 10px;
  }
}
