.author-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 80px;
}

.field-label {
  color: #99999f;
  margin-right: 10px;
}

.article-list-item-header-section,
.article-header-section {
  margin-bottom: 20px;
}

.article-list-item-header-section svg,
.article-header-section svg {
  height: 20px;
}

.article-list-item-header-section h4,
.article-header-section h3 {
  display: inline-block;
  margin-left: 8px;
  position: relative;
  color: #5d5d65;
}

.article-list-item-header-section h4 {
  top: 2px;
}

.article-header-section h3 {
  top: 3px;
}

.rich-body-section {
  margin: 20px 0px;
}
