.create-post-tagged-topics-container {
  display: flex;
  flex-wrap: wrap;
}

.create-post-topic-section-container {
  margin: 10px 0px 50px;
}

.create-post-tagged-topic {
  padding: 10px 10px;
  margin: 10px 10px;
  color: #00507c;
  font-size: 1.2em;
  border: 1px solid #00507c;
}

.create-post-topic-search-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-end;
}

.tag-topics-attention-icon-button {
  align-self: flex-end;
  padding: 0px;
  display: block;
  justify-self: flex-end;
}

.tag-topics-attention-icon-button svg {
  height: 20px;
}

.tag-topics-attention-icon-button-container {
  display: flex;
  justify-content: flex-end;
}
.create-post-tagged-topic svg {
  margin-left: 10px;
}

.create-post-tagged-topic:hover path {
  stroke: #00507c;
}

.create-post-topic-tag-title {
  color: #00507c;
  margin-top: 28px;
  margin-right: 2vw;
}

.create-post-topic-search-tool-container {
  min-width: 100%;
}

.create-post-topic-search-container input {
  border-bottom: 1px solid #00507c;
  margin-top: 7px;
  padding-top: 20px;
}

.create-post-topic-search-container input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #3099d3;
  opacity: 1; /* Firefox */
}

.create-post-topic-search-container input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #3099d3;
}

.create-post-topic-search-container input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #3099d3;
}

.topic-tag-duplicate-topic-warning {
  text-align: center;
  color: #da0000;
}

.create-post-typed-topic-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.create-post-typed-topic-container h4 {
  color: #5d5d65;
}

.create-post-typed-topic-container button {
  color: #00507c;
}

.tag-topics-loading-topics-spinner-container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.search-input-and-attention-symbol-container {
  display: flex;
  flex-grow: 1;
}

@media screen and (max-width: 390px) {
  .create-post-topic-search-container {
    display: block;
  }
  .create-post-topic-search-container input {
    border-bottom: 1px solid #00507c;
    padding-top: 0px;
  }
}
