.topic-list-item-container-light,
.topic-list-item-container-light-no-divider,
.topic-list-item-container-dark,
.topic-list-item-container-dark-no-divider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

.topic-list-item-container-light,
.topic-list-item-container-light-no-divider {
  background-color: rgba(255, 255, 255, 0.9);
}
.topic-list-item-container-dark,
.topic-list-item-container-dark-no-divider {
  background-color: rgb(0, 80, 124, 0.95);
}

.topic-list-item-container-dark a,
.topic-list-item-container-dark-no-divider a {
  color: #ffffff;
}

.topic-list-item-container-with-follow-options {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  align-items: center;
  padding: 20px 5px;
  border-bottom: 1px solid #dcdce0;
}

.topic-list-item-action-container {
  justify-self: flex-end;
}

.topic-list-item-container-light {
  border-bottom: 1px solid #dcdce0;
}

.topic-list-item-container-dark {
  border-bottom: 1px solid #5d7f95;
}

.topic-list-item-container-light h4,
.topic-list-item-container-light h3,
.topic-list-item-container-dark h4,
.topic-list-item-container-dark
  h3
  .topic-list-item-container-light-no-divider
  h3,
.topic-list-item-container-light-no-divider h4,
.topic-list-item-container-dark-no-divider h3,
.topic-list-item-container-dark-no-divider h4 {
  margin-bottom: 0px;
}

.topic-list-item-ms-acknowledgement {
  color: #99999f;
  font-size: 0.9em;
}

.topic-list-item-ms-acknowledgement:hover {
  text-decoration: none;
  color: #99999f;
}

@media screen and (max-width: 800px) {
  .topic-list-item-container-light,
  .topic-list-item-container-light-no-divider,
  .topic-list-item-container-dark,
  .topic-list-item-container-dark-no-divider {
    padding: 20px 5px;
  }
}
