.topic-list-item-container,
.topic-list-item-container-no-divider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background-color: rgba(255, 255, 255, 0.9);
}

.topic-list-item-container-with-follow-options {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  align-items: center;
  padding: 20px 5px;
  border-bottom: 1px solid #dcdce0;
}

.topic-list-item-action-container {
  justify-self: flex-end;
}

.topic-list-item-container {
  border-bottom: 1px solid #dcdce0;
}

.topic-list-item-container h4,
.topic-list-item-container h3 {
  margin-bottom: 0px;
}

.topic-list-item-ms-acknowledgement {
  color: #99999f;
  font-size: 0.9em;
}

.topic-list-item-ms-acknowledgement:hover {
  text-decoration: none;
  color: #99999f;
}

@media screen and (max-width: 800px) {
  .topic-list-item-container,
  .topic-list-item-container-no-divider {
    padding: 20px 5px;
  }
}
