.feed-tabs-container {
  grid-column: 2/3;
  grid-row: 3/4;
  padding: 40px 0px 30px;
  border-top: 1px solid #dcdce0;
}

.feed-tabs-layout {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0px -10px;
}

.content-layout {
  padding-top: 10px;
  grid-row: 1 / 2;
  grid-column: 2/3;
  justify-self: flex-start;
  align-self: flex-start;
  margin: 20px 0px;
  min-width: 100%;
  display: grid;
  grid-template-columns: minmax(5px, 1fr) minmax(408px, 1070px) minmax(5px, 1fr);
}

.feed-container {
  grid-column: 2/3;
  min-width: 100%;
}

.details-container {
  grid-column: 2/3;
  min-width: 100%;
}

.feed-tab-inactive,
.feed-tab-active {
  border: 1px solid #99999f;
  margin: 0px 10px 10px;
  color: #99999f;
  flex-shrink: 0;
  flex: 0 0 auto;
  padding-top: 6px;
  flex-grow: 1;
  max-width: 220px;
}

.feed-tab-active {
  border: 1px solid #000000;
  color: #000000;
}

.feed-tab-inactive:hover {
  border: 1px solid #5d5d65;
  color: #5d5d65;
}
