.tabs {
  grid-column: 2/3;
  grid-row: 3/4;
  padding: 40px 0px 30px;
  border-top: 1px solid #dcdce0;
}

.content-layout {
  padding-top: 10px;
  grid-row: 1 / 2;
  grid-column: 2/3;
  justify-self: flex-start;
  align-self: flex-start;
  margin: 20px 0px;
  min-width: 100%;
  display: grid;
  grid-template-columns: minmax(5px, 1fr) minmax(408px, 1070px) minmax(5px, 1fr);
}

.feed-container {
  grid-column: 2/3;
  min-width: 100%;
}

.details-container {
  grid-column: 2/3;
  min-width: 100%;
}
