.signin-container {
  display: flex;
  align-items: center;
}

.sign-in-container-title {
  margin-right: 10px;
}

.signin-form-title {
}

.sign-in-option {
  margin-top: 20px;
  color: #5d5d65;
}

.sign-in-option button {
  color: #00507c;
  font-size: 1.2em;
}

.login-submit-button-container {
  display: flex;
  min-width: 100%;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.login-page-forgot-page {
  display: flex;
  justify-content: flex-end;
}