.follow-feed-page-create-section {
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  border-bottom: 1px solid #00507c;
}

.follow-feed-page-create-section:hover {
  background: #f5f6f6;
}

.follow-feed-page-create-section a {
  width: 100%;
}

.follow-feed-page-create-section .create-button {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 5px 0px;
}
