.image-list-item-container,
.image-list-item-container-loading {
  width: 100%;
  padding-bottom: 100%;
  flex-grow: 1;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image-spinner-container {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.images-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 8px;
  column-gap: 8px;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
}
