.image-upload-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #00507c;
  justify-content: center;
  padding: 10px 24px;
  border: 2px solid #00507c;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 0px;
}

.image-upload-label input[type='file'] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 66px;
  width: 200px;
  cursor: pointer;
}

.image-upload-label:hover {
  border-width: 3px;
  padding: 9px 23px;
}

.image-upload-label h4 {
  flex-shrink: 0;
}

.image-upload-label svg {
  flex-shrink: 0;
}

.image-upload-section {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.image-upload-container {
  width: 200px;
  min-width: 200px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.after-upload-message-container {
  display: inline-block;
  margin-left: 50px;
}

.image-upload * {
  margin: 5px;
}

.image-upload {
  margin-bottom: 10px;
}

.image-previews-overflow {
  text-align: right;
}

.confirm-cancel-upload-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dcdce0;
}

.confirm-cancel-upload-container button {
  margin-left: 10px;
}

.image-upload-preview-container {
  margin-bottom: 20px;
}

.image-upload-cover-preview-container {
  margin-bottom: 20px;
  height: 200px;
  position: relative;
}

.image-upload-no-avatar-container,
.image-upload-rounded-preview-container {
  border-radius: 100%;
  max-width: 200px;
  max-height: 200px;
  width: 30vw;
  height: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-upload-rounded-preview-container img {
  max-width: 200px;
  max-height: 200px;
  width: 30vw;
  height: 30vw;
  object-fit: cover;
}

.image-upload-no-avatar-container {
  border: 1px solid #99999f;
  padding: 20px;
}

.image-upload-no-avatar-container:hover {
  border: 1px solid #00507c;
}

.image-upload-no-avatar-container:hover path {
  fill: #00507c;
}

.image-upload-avatar-button:hover img {
  opacity: 50%;
}

.image-upload-avatar-button:hover h3 {
  color: #3099d3;
}

.image-upload-avatar-button {
  position: relative;
}

.image-upload-avatar-container svg {
  display: none;
}

.image-upload-avatar-container path {
  stroke: #00507c;
}

.image-upload-avatar-container:hover svg {
  display: block;
  position: absolute;
  top: 25%;
  left: 30%;
  height: 40%;
  width: 40%;
}

.image-upload-avatar-button h3 {
  color: #00507c;
  margin-top: 10px;
  margin-left: 7px;
}
