.image-upload-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #00507c;
  justify-content: center;
  padding: 10px 24px;
  border: 2px solid #00507c;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 0px;
}

.image-upload-label input[type='file'] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 66px;
  width: 200px;
  cursor: pointer;
}

.image-upload-label:hover {
  border-width: 3px;
  padding: 9px 23px;
}

.image-upload-label h4 {
  flex-shrink: 0;
}

.image-upload-label svg {
  flex-shrink: 0;
}

.image-upload-section {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.image-upload-container {
  width: 200px;
  min-width: 200px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.after-upload-message-container {
  display: inline-block;
  margin-left: 50px;
}

.image-upload * {
  margin: 5px;
}

.image-upload {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 5fr 1fr 1fr 1fr;
  column-gap: 20px;
  justify-items: center;
  align-items: center;
}
