.about-page {
  position: relative;
  overflow: hidden;
}

.about-page-background-sweep-container {
  position: absolute;
  top: 0px;
}

.about-page-background-sweep-container svg {
  height: 16vw;
  width: 100vw;
}

.about-page-header {
  padding: 15px 15px;
  min-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-page-header-logo {
  justify-self: flex-start;
}

.about-page-header-logo svg {
  height: 40px;
}

.about-page-header-actions {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  z-index: 2;
}

.about-page-header-actions h3 {
  margin-right: 10px;
  padding-top: 5px;
}

.about-page-main-content {
  min-width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: minmax(15px, 1fr) minmax(200px, 1200px) minmax(
      15px,
      1fr
    );
  margin: 50px 0px;
}

.about-page-headline-section {
  max-width: 1200px;
  padding: 40px 0px 20px;
  display: grid;
  grid-template-columns: 2fr minmax(400px, 1fr);
}

.about-page-headline-text-container p {
  line-height: 0px;
  color: #99999f;
}

.about-page-super-title {
  font-size: 2.5em;
  color: #00507c;
}

.about-page-super-points {
  font-size: 1.2em;
  line-height: 1.6em;
  color: #00507c;
}

.about-page-headline-diagram-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: -20px;
}

.about-page-headline-diagram-container svg {
  width: 100%;
}

.about-page-search-section {
  padding: 40px 0px;
}

.about-page-search-bar-label {
  line-height: auto;
  font-size: 1.2em;
  color: #5d5d65;
}

.about-page-features-section {
  margin-top: 100px;
  min-width: 100%;
  max-width: 100%;
}

.about-page-features-section-title {
  display: none;
}

.about-page-feature-text-diagram-container {
  min-width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: auto;
  align-items: center;
}

.about-page-feature-text-diagram-container svg {
  width: 100%;
}

.about-page-feature-left-container {
  padding-right: 50px;
  border-right: 1px solid #99999f;
  min-height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 120px;
  justify-content: center;
}

.about-page-feature-right-container {
  padding-left: 50px;
  min-height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 120px;
  justify-content: center;
}

.carousel {
  min-width: 100%;
  height: 600px;
}

.carousel-indicators {
  display: none;
}

.carousel-item {
  min-width: 100%;
  min-height: 100%;
  padding: 5px;
}

.carousel-inner {
  min-width: 100%;
  min-height: 100%;
  padding: 5px;
}

.about-page-carousel-item {
  width: 500px;
  height: 700px;
  overflow: hidden;
  border-radius: 5%;
  box-shadow: 0px 5px 5px rgba(0, 80, 124, 0.2);
}

.about-page-carousel-container {
  height: 700px;
}

.carousel-control-next {
  display: none;
}

.carousel-control-prev {
  display: none;
}

.about-page-features-section h2 {
  color: #00507c;
}

.about-page-carousel-section {
  position: relative;
}

.about-page-carousel-next-icon-button {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 250px;
  left: 430px;
  z-index: 2;
  opacity: 0.2;
}
.about-page-carousel-next-icon-button:hover {
  opacity: 1;
  background: white;
  border: 1px solid #00507c;
}

.about-page-carousel-next-icon-button svg {
  width: 100%;
}

.about-page-final-actions-container {
  display: flex;
  justify-content: center;
}

.about-page-final-actions-container h1 {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1650px) {
  .about-page-background-sweep-container svg {
    width: 1650px;
    height: 27vw;
  }
}
@media only screen and (max-width: 1526px) {
  .about-page-background-sweep-container svg {
    width: 1526px;
  }
}
@media only screen and (max-width: 1492px) {
  .about-page-background-sweep-container svg {
    width: 1492px;
  }
}

@media only screen and (max-width: 1229px) {
  .about-page-carousel-item {
    width: 400px;
    height: 560px;
    overflow: hidden;
    border-radius: 5%;
    box-shadow: 0px 5px 5px rgba(0, 80, 124, 0.2);
  }

  .about-page-carousel-container {
    height: 560px;
  }

  .about-page-carousel-next-icon-button {
    width: 100px;
    height: 100px;
    top: 200px;
    left: 330px;
    opacity: 0.2;
  }
}

@media only screen and (max-width: 1200px) {
  .about-page-background-sweep-container svg {
    width: 1200px;
    height: 300px;
  }
}

@media only screen and (max-width: 965px) {
  .about-page-carousel-item {
    width: 300px;
    height: 420px;
  }

  .about-page-features-section h2 {
    font-size: 1.2em;
  }

  .about-page-carousel-next-icon-button {
    top: 170px;
    left: 270px;
    width: 80px;
    height: 80px;
    opacity: 0.2;
  }

  .about-page-carousel-container {
    height: 420px;
  }

  .carousel {
    min-width: 100%;
    height: 420px;
  }

  .about-page-main-content {
    margin: 40px 0px;
  }

  .about-page-feature-left-container {
    padding-right: 20px;
  }

  .about-page-feature-right-container {
    padding-left: 20px;
  }

  .about-page-headline-section {
    padding: 80px 0px 35px;
    grid-template-columns: minmax(300px, 2fr) minmax(300px, 1fr);
  }

  .about-page-super-title {
    font-size: 2.2em;
  }

  .about-page-super-points {
    font-size: 1.2em;
    line-height: 1.4em;
  }
}

@media only screen and (max-width: 909px) {
  .about-page-features-section {
    margin-top: 50px;
  }

  .about-page-feature-left-container {
    padding-right: 40px;
    margin-bottom: 80px;
  }

  .about-page-feature-right-container {
    padding-left: 40px;
    margin-bottom: 80px;
  }
}

@media only screen and (max-width: 852px) {
  .about-page-background-sweep-container svg {
    width: 900px;
    height: 200px;
  }
}

@media only screen and (max-width: 800px) {
  .about-page-headline-section {
    padding: 40px 0px 20px;
    grid-template-columns: minmax(200px, 2fr) minmax(200px, 1fr);
  }

  .about-page-super-title {
    font-size: 1.9em;
  }

  .about-page-super-points {
    font-size: 1em;
    line-height: 1.3em;
  }

  .about-page-header-logo svg {
    height: 30px;
  }

  .about-page-header-actions h3 {
    font-size: 1.2em;
  }

  .about-page-search-bar-label {
    display: block;
  }

  .about-page-carousel-next-icon-button {
    top: 180px;
    left: 265px;
    width: 60px;
    height: 60px;
    opacity: 0.2;
  }
}

@media only screen and (max-width: 730px) {
  .about-page-search-bar-label {
    display: none;
  }

  .about-page-carousel-item {
    width: 250px;
    height: 350px;
  }

  .about-page-features-section h2 {
    font-size: 1.1em;
  }

  .about-page-carousel-container {
    height: 350px;
    margin-bottom: 30px;
  }

  .about-page-carousel-next-icon-button {
    top: 140px;
    left: 200px;
    opacity: 0.2;
  }

  .carousel {
    min-width: 100%;
    height: 350px;
  }
  .about-page-header {
    padding: 10px 10px;
  }

  .about-page-headline-text-container p {
    font-size: 0.8em;
  }

  .about-page-headline-section {
    padding: 20px 0px 0px;
    display: grid;
    grid-template-columns: minmax(200px, 2fr) minmax(200px, 1fr);
  }

  .about-page-super-title {
    font-size: 1.5em;
  }

  .about-page-super-points {
    font-size: 1em;
    line-height: 1.2em;
  }

  .about-page-action-news {
    display: block;
  }
}

@media only screen and (max-width: 605px) {
  .about-page-action-news {
    display: none;
  }

  .about-page-features-section {
    margin-top: 30px;
    padding: 0px 15px;
  }

  .about-page-feature-left-container {
    padding-right: 0px;
    margin-bottom: 30px;
    max-width: 100%;
    border-right: none;
  }

  .about-page-feature-right-container {
    padding-left: 0px;
    margin-bottom: 30px;
    max-width: 100%;
    border-left: none;
  }

  .about-page-feature-text-diagram-container {
    border-bottom: 1px solid #bfbfd7;
    margin-bottom: 30px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .about-page-features-section-title {
    color: #99999f;
    display: block;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 586px) {
  .about-page-features-section {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .about-page-feature-left-container {
    margin-bottom: 20px;
  }

  .about-page-feature-right-container {
    margin-bottom: 20px;
  }

  .about-page-headline-section {
    padding: 15px 0px 0px;
    grid-template-columns: 1fr 200px;
    display: grid;
  }

  .about-page-super-title {
    font-size: 1.3em;
  }

  .about-page-super-points {
    font-size: 0.9em;
    line-height: 1.1em;
  }
}

@media only screen and (max-width: 500px) {
  .about-page-main-content {
    grid-template-columns: minmax(10px, 1fr) minmax(200px, 1200px) minmax(
        10px,
        1fr
      );
  }

  .about-page-headline-section {
    display: block;
  }

  .about-page-features-section {
    margin-top: 0px;
  }

  .about-page-features-section-title {
    font-size: 0.9em;
  }

  .about-page-headline-diagram-container svg {
    height: 100px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 378px) {
  .about-page-super-title {
    font-size: 1.2em;
  }

  .about-page-super-points {
    font-size: 0.8em;
    line-height: 1.1em;
  }

  .about-page-headline-text-container p {
    font-size: 0.7em;
    line-height: 0px;
    margin-bottom: 10px;
  }

  .about-page-header-logo svg {
    height: 25px;
  }

  .about-page-carousel-item {
    width: 135px;
    height: 200px;
  }

  .about-page-carousel-container {
    height: 200px;
  }

  .about-page-carousel-next-icon-button {
    top: 70px;
    left: 120px;
    width: 40px;
    height: 40px;
    opacity: 0.2;
  }

  .carousel {
    height: 200px;
  }
}
