.Container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  border-bottom: 1px solid #dcdce0;
}
.tag-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
}

.Avatar {
  grid-column: 1/2;
  display: block;
}

.AvatarSmall {
  display: none;
}

.Name {
  grid-column: 2/3;
}

.Name h4 {
  display: none;
}

.Name h2 {
  display: block;
}

.Follow {
  grid-column: 3/4;
}
@media screen and (max-width: 560px) {
  .Name h4 {
    display: block;
  }

  .Name h2 {
    display: none;
  }

  .Avatar {
    display: none;
  }
  .AvatarSmall {
    display: block;
  }
}
