.infinite-scroll-component__outerdiv {
  min-width: 100%;
}

.infinite-scroll-component {
  min-width: 100%;
}

.mixed-tab-section {
  padding-bottom: 50px;
}

.mixed-tab-section-header {
  color: #5d5d65;
}

.image-mixed-item-container {
  object-fit: none;
}

.end-result {
  text-align: center;
}
