.editor-container-no-title {
  border: 1px solid #99999f;
  padding: 10px;
}

.editor-container-no-title div {
  min-height: 100px;
}

.editor-container p {
  padding: 10px 0px;
}

.rich-text-input-area .editor-container-no-title {
  border: 1px solid #99999f;
}

.editor-container-no-title span[contenteditable='false'] {
  color: rgba(0, 0, 0, 1);
}
