.editor-container {
  margin: 40px 0px;
  border: 1px solid #dcdce0;
  padding: 20px;
  border-bottom: 1px solid #99999f;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 300px;
}

.editor-container-no-title {
  border: 1px solid #dcdce0;
  padding: 10px;
  min-height: 100px;
}

.editor-container-no-title div {
  min-height: 100px;
}

.editor-container h2 {
  border-bottom: 1px solid #dcdce0;
  padding: 10px 0px;
}

.editor-container p {
  padding: 10px 0px;
}

.rich-text-input-area .editor-container-no-title {
  border: 1px solid #99999f;
}