.not-creating-post-container {
  border-left: 1px solid #99999f;
  border-bottom: 1px solid #99999f;
  padding: 10px;
  margin-bottom: 40px;
  min-width: 100%;
}

.creating-post-container {
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 4px solid #dcdce0;
  min-width: 100%;
}

.create-post-tagged-topics-container {
  display: flex;
}

.create-post-topic-section-container {
  padding: 10px 5px 0px;
  margin: 20px 0px 50px;
}

.create-post-tagged-topic {
  padding: 10px 10px;
  margin: 10px 10px;
  color: #00507c;
  font-size: 1.2em;
  border: 1px solid #00507c;
}

.create-post-topic-search-container {
  display: grid;
  grid-template-columns: 180px 1fr;
}

.create-post-topic-tag-title {
  color: #5d5d65;
  margin-top: 28px;
}

.create-post-topic-search-tool-container {
  min-width: 100%;
}

.topic-tag-duplicate-topic-warning {
  text-align: center;
  color: #da0000;
}

.create-post-tagged-topic svg {
  margin-left: 10px;
}

.create-post-tagged-topic:hover path {
  stroke: #00507c;
}

.create-post-typed-topic-container {
  display: flex;
  justify-content: space-between;
}

.creating-post-main-text-container {
  border-left: 2px solid #00507c;
  padding: 0px 0px 10px 10px;
}

.creating-post-tags {
  padding-left: 10px;
  margin-top: 40px;
}

.not-creating-post-text {
  display: inline-block;
  margin-left: 10px;
  color: #99999f;
}

.create-post-actions {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  margin-top: 20px;
}

.create-post-cancel-container {
  grid-column: 1/2;
}

.create-post-actions-positive {
  grid-column: 2/3;
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
}

.dropdown {
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.post-type-dropdown-option {
  margin: 4px 0px 4px 0px;
  color: #00507c;
}

.post-type-dropdown-option button {
  color: #00507c;
  font-size: 1.1em;
}

.create-post-dropdown-toggle-name {
  display: inline-block;
  font-size: 1.1em;
  margin-left: 5px;
}

.create-pinned-post-button {
  background: 2px solid #00507c;
  display: flex;
  align-items: center;
  padding: 10px;
  color: #00507c;
}

.create-pinned-post-button svg {
  display: inline-block;
  margin-right: 10px;
  margin-top: -4px;
}

.post-success-message {
  color: #00507c;
  position: fixed;
  left: 50%;
  margin-left: -100px;
  background: #ffffff;
  border: 1px solid #00507c;
  top: 6vh;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  width: 200px;
  padding: 20px 0px;
  text-align: center;
}
