.not-creating-post-button {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 30%);
  padding: 15px;
  margin-bottom: 40px;
  min-width: 100%;
  text-align: start;
}

.not-creating-post-button:hover {
  border: 2px solid #00507c;
  padding: 13px;
}
.not-creating-post-button:hover .not-creating-post-text {
  color: #00507c;
}

.not-creating-post-text {
  display: inline-block;
  margin-left: 10px;
  color: #99999f;
  margin-bottom: 0px;
}

.creating-post-container {
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 4px solid #dcdce0;
  min-width: 100%;
  max-width: 100%;
  padding-left: 0px;
  margin-right: 0px;
}

.creating-post-main-text-container {
  border-left: 2px solid #00507c;
  padding: 0px 0px 10px 10px;
}

.publication-post-search-section {
  margin-top: 40px;
  color: #5d5d65;
}

.tagged-resource-section {
  margin-top: 40px;
}

.tagged-resource-section h4 {
  color: #5d5d65;
}

.create-post-actions {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  margin-top: 20px;
}

.create-post-cancel-container {
  grid-column: 1/2;
}

.create-post-actions-positive {
  grid-column: 2/3;
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
}

.create-pinned-post-button {
  background: 2px solid #00507c;
  display: flex;
  align-items: center;
  padding: 10px;
  color: #00507c;
}

.create-pinned-post-button svg {
  display: inline-block;
  margin-right: 10px;
  margin-top: -4px;
}

.post-success-message {
  color: #00507c;
  position: fixed;
  left: 50%;
  margin-left: -100px;
  background: #ffffff;
  border: 1px solid #00507c;
  top: 6vh;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  width: 200px;
  padding: 20px 0px;
  text-align: center;
}

.create-post-tag-a-container {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.create-post-alt-tagging-method-container {
  display: flex;
  justify-content: flex-end;
  margin-top: -30px;
}

.create-post-alt-tagging-method-container p {
  color: #5d5d65;
  display: inline-block;
  margin-top: 20px;
}

.create-post-alt-tagging-method-container button {
  color: #00507c;
}

.create-publication-search-publications-button {
  display: hidden;
  position: absolute;
}

.create-publication-post-list-item-container {
  display: grid;
  grid-template-columns: 1fr 120px;
  align-items: center;
  margin-top: 20px;
}

.create-publication-post-list-item-select-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.create-post-loading-greyed-out {
  min-width: 100%;
  min-height: 100%;
}

.create-post-loading-greyed-out {
  opacity: 0.5;
}

.create-post-loading-spinner {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 200px;
}

.create-post-post-resource-type-dropdown-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0px;
  max-width: 100%;
}

.create-post-post-resource-type-dropdown-tag {
  height: 50px;
  display: flex;
  align-items: center;
}

.create-post-post-resource-type-dropdown-section svg {
  height: 25px;
}

.create-post-tag-a {
  display: inline-block;
  color: #5d5d65;
  margin: 0px 8px;
}

.create-post-post-resource-suggested-tags-container {
  display: flex;
  justify-content: flex-start;
}

.create-post-post-resource-type-suggestion {
  color: #00507c;
  margin: 0px 10px;
}

.create-post-post-resource-type-suggestion h4 {
  margin: 0px;
}

.create-post-post-resource-type-suggestion:hover,
.create-post-post-resource-type-suggestion:focus {
  color: #3099d3;
}

.create-post-post-resource-dropdown-toggle-container {
  display: flex;
}

.create-post-post-resource-dropdown-toggle {
  /* border: 1px solid #00507c; */
  width: 200px;
  color: #5d5d65;
  text-align: start;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-post-post-resource-dropdown-toggle path {
  fill: #00507c;
}

.create-post-resource-tag-dropdown-option-name {
  display: inline-block;
  padding-left: 12px;
  color: #00507c;
}

.create-post-post-resource-type-dropdown-section-active {
  margin-top: 20px;
}

.create-post-post-tagged-resource-type-button {
  display: flex;
  align-items: center;
  border: 1px solid #00507c;
  padding: 5px;
}

.create-post-post-tagged-resource-type-button:hover {
  border: 2px solid #00507c;
  padding: 4px;
}

.create-post-post-tagged-resource-type-button h4 {
  margin: 0px 10px;
  color: #00507c;
}

.create-post-post-tagged-resource-type-button svg {
  height: 40px;
}

.create-post-post-tagged-resource-type-button path,
.create-post-post-tagged-resource-type-button circle,
.create-post-post-tagged-resource-type-button ellipse {
}

.create-post-remove-tagged-resource-icon-container {
  margin: 0px 5px;
}

.create-post-post-tagged-resource-type-button:hover
  .create-post-remove-tagged-resource-icon-container
  path,
.create-post-post-tagged-resource-type-button:focus
  .create-post-remove-tagged-resource-icon-container
  path {
  stroke: #00507c;
}

.create-post-resource-tag-dropdown-option {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  justify-content: flex-start;
  justify-items: flex-start;
}

.create-post-margin-top {
  margin-top: 0px;
}

.type-of-tagged-resource-dropdown-container {
  display: grid;
  grid-template-columns: minmax(250px, 1fr) 1fr;
}

.resource-search-input-container {
  border: 1px solid #99999f;
  line-height: 40px;
  width: 100%;
  padding-left: 10px;
  margin: 0px 0px 40px;
}

.create-post-deselect-resource-container {
  display: flex;
  justify-content: flex-end;
}

.resource-result-with-selector-container {
  margin: 40px 0px;
  position: relative;
}

.resource-result-selector-container {
  position: absolute;
  right: 0px;
  background: rgba(255, 255, 255, 0.8);
  margin: 10px;
  padding: 8px 8px 20px 20px;
}

.select-tagged-resource-icon {
  margin: 0px 5px;
  display: inline-block;
}

@media screen and (max-width: 1197px) {
  .not-creating-post-button {
    margin-top: 65px;
  }
  .creating-post-main-text-container {
    margin-top: 30px;
  }
  .create-post-margin-top {
    margin-top: 60px;
  }

  .creating-post-container {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 800px) {
  .not-creating-post-button {
    margin-bottom: 30px;
  }
}
