.not-creating-post-container {
  border-left: 1px solid #99999f;
  border-bottom: 1px solid #99999f;
  padding: 10px;
  margin-bottom: 40px;
  min-width: 100%;
}

.creating-post-container {
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 4px solid #dcdce0;
  min-width: 100%;
}

.create-post-tagged-topics-container {
  display: flex;
}

.create-post-topic-section-container {
  padding: 0px 5px;
  margin: 10px 0px 50px;
}

.create-post-tagged-topic {
  padding: 10px 10px;
  margin: 10px 10px;
  color: #00507c;
  font-size: 1.2em;
  border: 1px solid #00507c;
}

.create-post-topic-search-container {
  display: grid;
  grid-template-columns: 180px 1fr;
}

.create-post-topic-tag-title {
  color: #5d5d65;
  margin-top: 28px;
}

.create-post-topic-search-tool-container {
  min-width: 100%;
}

.topic-tag-duplicate-topic-warning {
  text-align: center;
  color: #da0000;
}

.create-post-tagged-topic svg {
  margin-left: 10px;
}

.create-post-tagged-topic:hover path {
  stroke: #00507c;
}

.create-post-typed-topic-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.create-post-typed-topic-container h4 {
  color: #5d5d65;
}

.create-post-typed-topic-container button {
  color: #00507c;
}

.creating-post-main-text-container {
  border-left: 2px solid #00507c;
  padding: 0px 0px 10px 10px;
}

.creating-post-tags {
  padding-left: 10px;
  margin-top: 40px;
}

.not-creating-post-text {
  display: inline-block;
  margin-left: 10px;
  color: #99999f;
}

.create-post-actions {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  margin-top: 20px;
}

.create-post-cancel-container {
  grid-column: 1/2;
}

.create-post-actions-positive {
  grid-column: 2/3;
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
}

.dropdown {
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.post-type-dropdown-option {
  color: #00507c;
  width: 150px;
}

.post-type-dropdown-option:hover {
  background: #78afcd48;
}

.post-type-dropdown-option button {
  color: #00507c;
  font-size: 1.1em;
  margin-left: 6px;
  min-width: 100%;
  text-align: start;
}

.create-post-dropdown-toggle-name {
  display: inline-block;
  font-size: 1.1em;
  margin-right: 5px;
  color: #00507c;
}

.create-post-dropdown-toggle-name span {
  border-bottom: 2px solid #00507c;
}

.create-pinned-post-button {
  background: 2px solid #00507c;
  display: flex;
  align-items: center;
  padding: 10px;
  color: #00507c;
}

.create-pinned-post-button svg {
  display: inline-block;
  margin-right: 10px;
  margin-top: -4px;
}

.post-success-message {
  color: #00507c;
  position: fixed;
  left: 50%;
  margin-left: -100px;
  background: #ffffff;
  border: 1px solid #00507c;
  top: 6vh;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  width: 200px;
  padding: 20px 0px;
  text-align: center;
}

.create-post-post-type-dropdown-container {
  margin-bottom: 15px;
}

.create-post-post-type-dropdown-container path {
  stroke: #00507c;
}

.create-publication-post-search-or-link-container {
  display: flex;
  justify-content: flex-end;
  margin-top: -30px;
}

.create-publication-post-search-or-link-container p {
  color: #5d5d65;
  display: inline-block;
  margin-top: 20px;
}

.create-publication-post-search-or-link-container button {
  color: #00507c;
}

.create-publication-search-publications-button {
  display: hidden;
  position: absolute;
}

.create-publication-post-list-item-container {
  display: grid;
  grid-template-columns: 1fr 120px;
  align-items: center;
  margin-top: 20px;
}

.create-publication-post-list-item-select-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.create-post-topic-search-input {
  border-bottom: 1px solid #00507c;
  margin-top: 7px;
  padding-top: 20px;
}

.create-post-loading-spinner-container {
  margin-top: 10px;
}

.create-post-loading-greyed-out {
  min-width: 100%;
  min-height: 100%;
}

.create-post-loading-greyed-out {
  opacity: 50%;
}

.create-post-loading-spinner {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 200px;
}

.create-post-post-resource-type-dropdown-section {
  display: grid;
  grid-template-columns: minmax(50px, 1fr) 4fr minmax(170px, 2fr);
  align-items: center;
}

.create-post-post-resource-type-dropdown-section svg {
  height: 60%;
}

.create-post-post-resource-type-dropdown-tag {
  height: 50px;
  display: flex;
  align-items: center;
}

.create-post-post-resource-type-dropdown-tag span {
  color: #5d5d65;
  display: inline-block;
  margin-left: 8px;
}

.create-post-post-resource-suggested-tags-container {
  display: flex;
  justify-content: space-evenly;
}

.create-post-post-resource-type-suggestion {
  color: #00507c;
}

.create-post-resource-type-dropdown-container {
  position: relative;
}

.create-post-post-resource-dropdown-toggle-container path {
  fill: #00507c;
}
.create-post-post-resource-dropdown-toggle-container {
  display: flex;
}

.create-post-post-resource-dropdown-toggle {
  border-bottom: 1px solid #00507c;
  color: #5d5d65;
  text-align: start;
  flex-grow: 1;
}

.create-post-resource-type-dropdown {
  position: absolute;
  top: 40px;
  width: 100%;
  background: white;
  border: 1px solid #00507c;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.create-post-resource-type-dropdown-option-button {
  padding: 4px 2px;
  height: 70px;
  width: 100%;
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  justify-content: flex-start;
  justify-items: flex-start;
}

.create-post-resource-type-dropdown-option-button:hover {
  background-color: #00507c;
}

.create-post-resource-type-dropdown-option-button:hover h4 {
  color: #ffffff;
}

.create-post-resource-type-dropdown-option-button:hover path {
  fill: #ffffff;
  /* stroke: #ffffff; */
}

.create-post-resource-type-dropdown-option-button:hover svg {
  stroke: #ffffff;
}

.create-post-resource-type-dropdown-option-button svg {
  width: 50px;
}

.create-post-resource-type-dropdown-option-button h4 {
  display: inline-block;
  padding-left: 12px;
  color: #00507c;
}
