.not-creating-post-container {
  /* border-left: 1px solid #99999f; */
  /* border-bottom: 1px solid #99999f; */
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 30%);
  padding: 15px;
  margin-bottom: 40px;
  min-width: 100%;
}

.not-creating-post-text {
  display: inline-block;
  margin-left: 10px;
  color: #99999f;
  margin-bottom: 0px;
}

.creating-post-container {
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 4px solid #dcdce0;
  min-width: 100%;
}

.create-post-tagged-topics-container {
  display: flex;
}

.create-post-topic-section-container {
  margin: 10px 0px 50px;
}

.create-post-tagged-topic {
  padding: 10px 10px;
  margin: 10px 10px;
  color: #00507c;
  font-size: 1.2em;
  border: 1px solid #00507c;
}

.create-post-topic-search-container {
  display: flex;
  flex-wrap: wrap;
}

.create-post-topic-tag-title {
  color: #5d5d65;
  margin-top: 28px;
  margin-right: 2vw;
}

.create-post-topic-search-tool-container {
  min-width: 100%;
}

.create-post-topic-search-input {
  border-bottom: 1px solid #00507c;
  margin-top: 7px;
  padding-top: 20px;
  flex-grow: 1;
}

.topic-tag-duplicate-topic-warning {
  text-align: center;
  color: #da0000;
}

.create-post-tagged-topic svg {
  margin-left: 10px;
}

.create-post-tagged-topic:hover path {
  stroke: #00507c;
}

.create-post-typed-topic-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.create-post-typed-topic-container h4 {
  color: #5d5d65;
}

.create-post-typed-topic-container button {
  color: #00507c;
}

.creating-post-main-text-container {
  border-left: 2px solid #00507c;
  padding: 0px 0px 10px 10px;
}

.creating-post-tags {
  padding-left: 10px;
  margin-top: 40px;
}

.create-post-actions {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  margin-top: 20px;
}

.create-post-cancel-container {
  grid-column: 1/2;
}

.create-post-actions-positive {
  grid-column: 2/3;
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
}

.create-pinned-post-button {
  background: 2px solid #00507c;
  display: flex;
  align-items: center;
  padding: 10px;
  color: #00507c;
}

.create-pinned-post-button svg {
  display: inline-block;
  margin-right: 10px;
  margin-top: -4px;
}

.post-success-message {
  color: #00507c;
  position: fixed;
  left: 50%;
  margin-left: -100px;
  background: #ffffff;
  border: 1px solid #00507c;
  top: 6vh;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  width: 200px;
  padding: 20px 0px;
  text-align: center;
}

.create-publication-post-search-or-link-container {
  display: flex;
  justify-content: flex-end;
  margin-top: -30px;
}

.create-publication-post-search-or-link-container p {
  color: #5d5d65;
  display: inline-block;
  margin-top: 20px;
}

.create-publication-post-search-or-link-container button {
  color: #00507c;
}

.create-publication-search-publications-button {
  display: hidden;
  position: absolute;
}

.create-publication-post-list-item-container {
  display: grid;
  grid-template-columns: 1fr 120px;
  align-items: center;
  margin-top: 20px;
}

.create-publication-post-list-item-select-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.create-post-loading-spinner-container {
  margin-top: 10px;
}

.create-post-loading-greyed-out {
  min-width: 100%;
  min-height: 100%;
}

.create-post-loading-greyed-out {
  opacity: 50%;
}

.create-post-loading-spinner {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 200px;
}

.create-post-post-resource-type-dropdown-section {
  display: grid;
  grid-template-columns: minmax(90px, 1fr) 1fr minmax(170px, 2fr);
  align-items: center;
  margin-top: 20px;
}

.create-post-post-resource-type-dropdown-section svg {
  height: 60%;
}

.create-post-post-resource-type-dropdown-tag {
  height: 50px;
  display: flex;
  align-items: center;
}

.create-post-post-resource-type-dropdown-tag span {
  color: #5d5d65;
  display: inline-block;
  margin-left: 8px;
}

.create-post-post-resource-suggested-tags-container {
  display: flex;
  justify-content: flex-start;
}

.create-post-post-resource-type-suggestion {
  color: #00507c;
}

.create-post-post-resource-type-suggestion:hover,
.create-post-post-resource-type-suggestion:focus {
  color: #3099d3;
}

.create-post-resource-dropdown-toggle-triangle path {
  fill: #00507c;
}

.create-post-post-resource-dropdown-toggle-container {
  display: flex;
}

.create-post-post-resource-dropdown-toggle {
  border-bottom: 1px solid #00507c;
  color: #5d5d65;
  text-align: start;
  flex-grow: 1;
}

.create-post-resource-tag-dropdown-option-name {
  display: inline-block;
  padding-left: 12px;
  color: #00507c;
}

.create-post-post-resource-type-dropdown-section-active {
  display: grid;
  grid-template-columns: minmax(50px, 1fr) 1fr;
  align-items: center;
  margin-top: 20px;
}

.create-post-post-tagged-resource-type-button {
  display: flex;
  align-items: center;
}

.create-post-post-tagged-resource-type-button svg {
  height: 40px;
}

.create-post-post-tagged-resource-type-button path,
.create-post-post-tagged-resource-type-button circle,
.create-post-post-tagged-resource-type-button ellipse {
  stroke: #99999f;
  fill: #ffffff;
}

.create-post-post-tagged-resource-type-button:hover h4,
.create-post-post-tagged-resource-type-button:focus h4 {
  border-bottom: 2px solid #00507c;
  margin: 0px 5px 0px 10px;
  color: #00507c;
}

.create-post-post-tagged-resource-type-button:hover
  .create-post-remove-tagged-resource-icon-container
  path,
.create-post-post-tagged-resource-type-button:focus
  .create-post-remove-tagged-resource-icon-container
  path {
  stroke: #00507c;
}

.create-post-resource-tag-dropdown-option {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  justify-content: flex-start;
  justify-items: flex-start;
}

@media screen and (max-width: 800px) {
  .not-creating-post-container {
    margin-bottom: 30px;
  }
}
