.not-creating-post-button {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 30%);
  padding: 13px;
  margin-bottom: 40px;
  min-width: 100%;
  text-align: start;
  border: 2px solid #00507c;
}

.create-post-section-title,
.create-post-section-title-2 {
  text-align: center;
  margin: 20px 0px 10px;
}

.create-post-section-title-2 {
  margin: 80px 0px 10px;
}

.not-creating-post-button:hover {
  border: 3px solid #00507c;
  padding: 12px;
}
.not-creating-post-button:hover .not-creating-post-text {
  color: #00507c;
}

.not-creating-post-text {
  display: inline-block;
  margin-left: 10px;
  color: #99999f;
  margin-bottom: 0px;
}

.create-post-form-section {
  animation: fadeIn 0.5s linear;
  opacity: 1;
  min-width: 100%;
  max-width: 100%;
  padding-left: 0px;
  margin-bottom: 120px;
}

.creating-post-main-text-container {
  border-left: 2px solid #00507c;
  padding-left: 10px;
  max-width: 100%;
  word-break: break-all;
}

.publication-post-search-section {
  margin-top: 40px;
}

.publication-post-quick-create-section {
  margin-top: 20px;
}

.tagged-resource-section {
  margin-top: 40px;
}

.tagged-resource-modal {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  margin-top: 5px;
  padding: 10px;
}

.tagged-resource-section h4 {
  color: #5d5d65;
}

.create-post-actions {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  margin-top: 20px;
}

.create-post-cancel-container {
  grid-column: 1/2;
}

.create-post-actions-positive {
  grid-column: 2/3;
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
}

.create-pinned-post-button {
  background: 2px solid #00507c;
  display: flex;
  align-items: center;
  padding: 10px;
  color: #00507c;
}

.create-pinned-post-button svg {
  display: inline-block;
  margin-right: 10px;
  margin-top: -4px;
}

.post-success-message {
  color: #00507c;
  position: fixed;
  left: 50%;
  margin-left: -100px;
  background: #ffffff;
  border: 1px solid #00507c;
  top: 6vh;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  width: 200px;
  padding: 20px 0px;
  text-align: center;
}

.create-post-tag-a-container {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.create-post-switch-tagging-method-container {
  display: flex;
  justify-content: flex-end;
}

.create-post-switch-tagging-method-container p {
  color: #5d5d65;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

.create-publication-post-list-item-container {
  display: grid;
  grid-template-columns: 1fr 120px;
  align-items: center;
  margin-top: 20px;
}

.create-publication-post-list-item-select-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.create-post-loading-greyed-out {
  min-width: 100%;
  min-height: 100%;
}

.create-post-loading-greyed-out {
  opacity: 0.5;
}

.create-post-loading-spinner {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 200px;
}

.create-post-tag-a {
  display: inline-block;
  color: #5d5d65;
  margin: 0px 8px;
}

.create-post-background-swirl-container {
  margin: 30px 15% 20px 0px;
}
.create-post-background-swirl-container svg {
  width: 100%;
}

.create-post-types-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 10px 0px 40px;
}

.create-post-type-button {
  padding: 10px 20px;
  flex-shrink: 0;
  color: #00507c;
}

.create-post-type-button h3 {
  margin-bottom: 0px;
}

.create-post-type-button:hover {
  border: 1px solid #dcdce0;
  padding: 9px 19px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.create-post-post-tagged-resource-type-button {
  display: flex;
  align-items: center;
  border: 1px solid #00507c;
  padding: 5px;
}

.create-post-post-tagged-resource-type-button:hover {
  border: 2px solid #00507c;
  padding: 4px;
}

.create-post-post-tagged-resource-type-button h4 {
  margin: 0px 10px;
  color: #00507c;
}

.create-post-post-tagged-resource-type-button svg {
  height: 40px;
}

.create-post-remove-tagged-resource-icon-container {
  margin: 0px 5px;
}

.create-post-post-tagged-resource-type-button:hover
  .create-post-remove-tagged-resource-icon-container
  path,
.create-post-post-tagged-resource-type-button:focus
  .create-post-remove-tagged-resource-icon-container
  path {
  stroke: #00507c;
}

.create-post-resource-tag-dropdown-option {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  justify-content: flex-start;
  justify-items: flex-start;
}

.type-of-tagged-resource-dropdown-container {
  display: grid;
  grid-template-columns: minmax(250px, 1fr) 1fr;
}

.resource-search-input-container {
  border: 1px solid #99999f;
  line-height: 40px;
  width: 100%;
  padding-left: 10px;
  margin: 0px 0px 10px;
}

.create-post-deselect-resource-container {
  display: flex;
  justify-content: flex-end;
}

.resource-result-with-selector-container {
  margin: 40px 0px;
  position: relative;
}

.resource-result-selector-container {
  position: absolute;
  right: 0px;
  background: rgba(255, 255, 255, 0.8);
  margin: 10px;
  padding: 8px 8px 20px 20px;
}

.resource-result-selector-container-pubs {
  position: absolute;
  right: 0px;
  margin: 10px;
}

.select-tagged-resource-icon {
  margin: 0px 5px;
  display: inline-block;
}

.quick-create-open-position-group-note {
  margin-bottom: 2px;
}
.create-post-quick-create-toggle-search,
.create-post-quick-create-toggle-create {
  color: #00507c;
  padding: 0px;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.create-post-quick-create-toggle-search:hover,
.create-post-quick-create-toggle-create:hover {
  text-decoration: underline;
}

.create-post-quick-create-toggle-search:hover .create-button-circle-controlled,
.create-post-quick-create-toggle-create:hover .create-button-circle-controlled,
.create-post-quick-create-toggle-search:focus .create-button-circle-controlled,
.create-post-quick-create-toggle-create:focus .create-button-circle-controlled {
  fill-opacity: 0.21;
}

.create-post-quick-create-toggle-search svg {
  height: 15px;
  width: 15px;
  margin-left: 5px;
}

.create-post-quick-create-toggle-create svg {
  height: 20px;
  width: 20px;
}

.create-post-resource-search-button {
  display: hidden;
  position: absolute;
}

.create-post-quick-create-toggle-search path {
  fill: #00507c;
}

.create-post-twitter-toggle-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.character-length-warning-container {
  display: flex;
  justify-content: flex-end;
}

.create-post-tag-more-topics-button-container {
  display: flex;
  justify-content: center;
}

.create-post-hidden-overlap {
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}

.create-post-topic-section {
  margin-bottom: 30px;
}

.create-post-type-section {
  position: absolute;
  width: 100%;
  top: 0px;
  -webkit-animation: slideDownwardsFadeIn 1s cubic-bezier(0.01, 0.9, 1, 1);
  animation: slideDownwardsFadeIn 1s cubic-bezier(0.01, 0.9, 1, 1);
  opacity: 1;
}

.create-post-primary-selected-topic-type {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.create-post-primary-selected-topic-type-button {
  border: 1px solid #00507c;
  padding: 10px;
  color: #00507c;
  border-radius: 2px;
  background: #ffffff;
}

.create-post-primary-selected-topic-type-button svg {
  height: 15px;
  margin-left: 5px;
}

.create-post-primary-selected-topic-type-button:hover path {
  stroke: #00507c;
}

.create-post-primary-selected-topic-type-button:hover {
  padding: 9px;
  border: 2px solid #00507c;
}

.create-post-type-section-height-match {
  height: 70px;
}

.create-post-optional-tag-section {
  margin-top: 20px;
}
.create-post-optional-tag-button-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
}

.create-post-optional-tag-section svg {
  margin-right: 7px;
}

.create-post-optional-tag-section p {
  text-align: center;
  color: #5d5d65;
}

.create-post-cancel-tagging-button {
  color: #5d5d65;
  display: inline-block;
  margin-top: 10px;
}

.create-post-cancel-tagging-button:hover {
  color: #000000;
}

@media screen and (max-width: 1197px) {
  .not-creating-post-button {
    margin-top: 65px;
  }

  .create-post-form-section {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 800px) {
  .not-creating-post-button {
    margin-bottom: 30px;
  }
}
