.create-group-profile-info-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 20px;
}

.create-group-profile-info-container h3 {
  margin-bottom: 10px;
}

.create-group-pinned-post-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  min-width: 100%;
}

.create-group-meta-info {
  margin-left: 40px;
}

.group-profile-avatar {
  border: 1px solid #99999f;
  width: 100%;
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.existing-group-avatar {
  min-width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

.fileContainer {
  box-shadow: none;
}

.create-group-add-members-container {
  margin-bottom: 40px;
}

.create-group-member-search {
  margin-bottom: 20px;
}

.edit-group-info-upload-photo-button:hover img {
  opacity: 50%;
}

.edit-group-info-upload-photo-button {
  position: relative;
}

.edit-group-info-upload-photo-button::after {
  content: '';
  background: #00507c;
  position: absolute;
  bottom: 52%;
  right: 25%;
  height: 20px;
  width: 50%;
  opacity: 0%;
}

.edit-group-info-upload-photo-button-plus {
  content: '';
  background: #00507c;
  position: absolute;
  right: 45%;
  bottom: 37%;
  width: 20px;
  height: 40%;
  opacity: 0%;
}

.edit-group-info-upload-photo-button:hover::after,
.edit-group-info-upload-photo-button:hover
  .edit-group-info-upload-photo-button-plus {
  opacity: 100%;
}

.edit-group-info-upload-photo-button h3 {
  color: #00507c;
  margin-top: 10px;
  margin-left: 7px;
}

.edit-group-info-upload-photo-button-plus {
}

.create-group-invite-email-info {
  color: #99999f;
  margin-top: 5px;
}

.instant-search-searchbox-container {
  border-bottom: 1px solid #99999f;
}

.open-position-apply-method-input {
  border: 1px solid #99999f;
  line-height: 40px;
  width: 100%;
  padding-left: 2%;
}
