.create-group-pinned-post-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  min-width: 100%;
}

.create-group-meta-info {
  margin: 40px 0px;
}

.create-group-meta-info h3 {
  margin-bottom: 10px;
}

.create-group-add-members-container {
  margin: 40px 0px;
}

.edit-group-avatar-section {
  margin: 20px 0px;
}

.open-position-apply-method-input {
  border: 1px solid #99999f;
  line-height: 40px;
  width: 100%;
  padding-left: 2%;
}

.request-verification-container {
  margin: 40px 0px;
}

.request-verification-container h4 {
  margin-bottom: 10px;
}

.request-verification-button-container {
  float: right;
}
.add-member-button svg {
  height: 80px;
  width: 80px;
}

@media screen and (max-width: 1500px) {
  .change-group-avatar-container {
    width: 30vw;
    height: 30vw;
  }

  .edit-group-info-upload-photo-button .rounded-circle {
    width: 30vw;
    height: 30vw;
  }
}

@media screen and (max-width: 800px) {
  .change-group-avatar-container {
    width: 50vw;
    height: 50vw;
  }

  .edit-group-info-upload-photo-button .rounded-circle {
    width: 50vw;
    height: 50vw;
  }

  .add-member-button svg {
    height: 60px;
    width: 60px;
  }
}

@media screen and (max-width: 500px) {
  .add-member-button {
    display: flex;
    margin: auto;
  }

  .fileContainer p {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  .change-group-avatar-container {
    width: 80vw;
    height: 80vw;
  }

  .edit-group-info-upload-photo-button .rounded-circle {
    width: 80vw;
    height: 80vw;
  }
}
