.light-tab-active {
  color: #000000;
  text-decoration: underline;
  margin: 0px 30px 20px 0px;
  flex-shrink: 0;
  flex-grow: 1;
  max-width: 220px;
}

.light-tab-inactive {
  color: #5d5d65;
  margin: 0px 30px 20px 0px;
  flex-shrink: 0;
  flex-grow: 1;
  max-width: 220px;
}

.light-tab-active:hover {
  color: #000000;
}
.light-tab-inactive:hover {
  color: #000000;
  text-decoration: none;
}

.light-tabs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
