.post-topics-container {
  display: flex;
  flex-wrap: wrap;
}

.post-topics p {
  margin-bottom: 0px;
}

.topics-sub-title {
  color: #99999f;
  grid-column: 1 /2;
  margin-right: 5px;
  margin-bottom: 0px;
}

.tagged-topic-names {
  display: inline-block;
  margin-right: 30px;
  padding-top: 1px;
}
