.post-topics-container {
  display: flex;
  flex-wrap: wrap;
}

.post-topics p {
  margin-bottom: 0px;
}

.topics-sub-title-light,
.topics-sub-title-dark {
  grid-column: 1 /2;
  margin-right: 5px;
  margin-bottom: 0px;
}
.topics-sub-title-light {
  color: #99999f;
}

.topics-sub-title-dark {
  color: #ccd6da;
}

.top-topics-container-light,
.top-topics-container-dark {
  padding: 10px;
}

.top-topics-container-light h3,
.top-topics-container-dark h3 {
  margin: 5px 0px;
}

.top-topics-container-light {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}

.top-topics-container-dark {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  background: #064262;
}

.tagged-topic-names-light,
.tagged-topic-names-dark {
  display: inline-block;
  margin-right: 30px;
  padding-top: 1px;
}

.tagged-topic-names-dark {
  color: #ffffff;
}

.tagged-topic-names-dark:hover {
  color: #a1dcfc;
  text-decoration: none;
}

.tagged-topic-names-light:hover {
  color: #00507c;
}

@media screen and (max-width: 500px) {
  .top-topics-container-dark,
  .top-topics-container-light {
    padding: 5px;
  }
}
