.general-list-item-container {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
  background: #ffffff;
  padding: 20px 16px;
  margin: 2px 2px 30px 2px;
}

.list-options-container {
  display: flex;
  justify-content: flex-end;
}

.list-options-container svg {
  width: 30px;
  height: 5px;
}

.list-item-dropdown-option-container {
  margin: 0px 10px;
}

.list-item-options-dropdown-text {
  margin: 0px 10px;
}

.list-item-dropdown-toggle {
  width: 80px;
  display: flex;
  justify-content: flex-end;
  padding: 0px;
  margin-bottom: 10px;
}
