.general-list-item-container-light,
.general-list-item-container-dark {
  padding: 20px 16px;
  margin: 2px 2px 30px 2px;
}
.general-list-item-container-light {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
  background: #ffffff;
}

.general-list-item-container-dark {
  background: #064262;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
}

.list-options-container-light,
.list-options-container-dark {
  display: flex;
  justify-content: flex-end;
}

.list-item-dropdown-toggle-light svg,
.list-item-dropdown-toggle-dark svg {
  width: 30px;
  height: 5px;
}

.list-item-options-dropdown-text-light,
.list-item-options-dropdown-text-loading-light,
.list-item-options-dropdown-text-dark,
.list-item-options-dropdown-text-loading-dark {
  display: grid;
  grid-template-columns: 35px 1fr;
  justify-content: flex-start;
  align-items: center;
}

.list-item-options-dropdown-text-loading-light {
  opacity: 0.2;
}

.list-item-options-dropdown-text-loading-dark {
  opacity: 0.2;
}

.list-item-dropdown-toggle-light,
.list-item-dropdown-toggle-dark {
  display: flex;
  justify-content: flex-end;
  padding: 0px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.list-options-container-dark .dropdown-container,
.list-options-container-dark .dropdown-container {
  width: 140px;
  right: 0px;
}

.list-item-dropdown-toggle-dark circle {
  fill: #ccd6da;
}

.resource-result-with-pin-container {
  position: relative;
  align-self: flex-start;
}

.resource-result-pin-container {
  position: absolute;
  padding: 5px;
  right: 0px;
}

.resource-result-pin-container button {
  background: #ffffff;
}

.list-item-inline-subtitle-light {
  color: #99999f;
  margin-bottom: 5px;
}

.list-item-inline-subtitle-dark {
  color: #9ebdd0;
  margin-bottom: 5px;
}

.list-item-type-light {
  color: #99999f;
  margin-bottom: 0px;
}

.list-item-type-dark {
  color: #9ebdd0;
  margin-bottom: 0px;
}
.list-item-inline-subtitle-light span {
  color: #000000;
  display: inline-block;
  margin-left: 10px;
}

.list-item-inline-subtitle-dark span {
  color: #ffffff;
  display: inline-block;
  margin-left: 10px;
}

.list-item-subtitle-light {
  color: #99999f;
  margin-top: 10px;
}

.list-item-subtitle-dark {
  color: #9ebdd0;
  margin-top: 10px;
}

.list-item-title-light {
  color: #00507c;
}

.list-item-title-dark {
  color: #ffffff;
}

.list-item-title-dark:hover {
  color: #ffffff;
}
