.general-list-item-container {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
  background: #ffffff;
  padding: 20px 16px;
  margin: 2px 2px 30px 2px;
}

.list-item-expandable-container {
  overflow-y: hidden;
}
