.general-list-item-container {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
  background: #ffffff;
  padding: 20px 16px;
  margin: 2px 2px 30px 2px;
}

.list-options-container {
  display: flex;
  justify-content: flex-end;
}

.list-options-container svg {
  width: 30px;
  height: 5px;
}

.list-item-dropdown-option-container {
}

.list-item-options-dropdown-text,
.list-item-options-dropdown-text-loading {
  display: grid;
  grid-template-columns: 40px 1fr;
  justify-content: flex-start;
  align-items: center;
}

.list-item-options-dropdown-text-loading {
  color: #5d5d65;
}

.list-item-options-dropdown-text svg,
.list-item-options-dropdown-text-loading svg {
  height: 25px;
}

.list-item-options-dropdown-text-loading {
  color: #dcdce0;
}

.list-item-options-dropdown-text-loading svg {
  stroke: #dcdce0;
}

.list-item-options-dropdown-text-loading path {
  fill: #dcdce0;
}

.list-item-options-dropdown-text-loading circle {
  stroke: #dcdce0;
}

.list-item-dropdown-toggle {
  width: 120px;
  display: flex;
  justify-content: flex-end;
  padding: 0px;
  margin-bottom: 10px;
}

.resource-result-with-pin-container {
  position: relative;
  align-self: flex-start;
}

.resource-result-pin-container {
  position: absolute;
  padding: 5px;
  right: 0px;
}

.resource-result-pin-container button {
  background: #ffffff;
}
