.generated-password-page-code-container {
    text-align:center;
}

.generated-password-page-code-container h4 {
    opacity: 0.8;
    margin-bottom: 10px;
}

.generated-password-connect-author-id-section {
    padding: 40px 0px;
}

.generated-password-page-go-to-resource-section {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}

.connect-publications-button-container {
    display: flex;
    justify-content: center
}