.filter-container {
  min-width: 100%;
}

.filter-search {
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #99999f;
}
.filter-search:focus-within {
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #3099d3;
}

.filter-search input {
  text-decoration: none;
  border: none;
  margin-left: 5px;
  outline: none;
}
.filter-search input:focus,
.filter-search input:hover {
  text-decoration: none;
  border: none;
  margin-left: 5px;
  outline: none;
}
.filter-search input:focus::placeholder {
  color: white;
}

.filter-collection {
  margin-bottom: 30px;
}

.filter-collection-header {
  display: grid;
  grid-template-columns: 1fr 20px;
  margin-bottom: 6px;
}

.filter-collection-title {
  grid-column: 1/2;
  color: #99999f;
}

.filter-collection-reset {
  grid-column: 2/3;
  justify-self: flex-end;
  display: inline-block;
  border: none;
  padding: 2px 0px;
  border-radius: 4%;
  text-decoration: none;
  background: none;
  color: #00507c;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.filter-collection-reset:hover,
.filter-collection-reset:focus {
  display: inline-block;
  padding: 2px 0px;
  border-radius: 4%;
  text-decoration: underline;
  background: none;
  color: #00507c;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

.filter-options-container {
  display: grid;
  grid-template-columns: 1fr 20px;
  align-items: center;
  grid-template-rows: none;
  color: #287fad;
  height: 30px;
  margin: 10px 0px;
}

.filter-option-name {
  grid-column: 1/2;
  padding-top: 4px;
  align-self: center;
}

.filter-checkbox-container {
  grid-column: 2/3;
  justify-self: flex-end;
  align-items: center;
  cursor: pointer;
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

.filter-checkbox:not(:checked),
.filter-checkbox:checked,
.filter-radio:not(:checked),
.filter-radio:checked {
  top: 10px;
  opacity: 0;
  position: absolute;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.filter-checkbox:not(:checked) + .filter-checkbox-design,
.filter-checkbox:checked + .filter-checkbox-design,
.filter-radio:not(:checked) + .filter-radio-design,
.filter-radio:checked + .filter-radio-design {
  top: 10px;
  position: absolute;
  height: 20px;
  width: 20px;
  border: 1px solid #00507c;
  cursor: pointer;
  background: transparent;
}

.filter-checkbox:not(:checked) + .filter-checkbox-design,
.filter-checkbox:checked + .filter-checkbox-design {
  border-radius: 10%;
}

.filter-radio:not(:checked) + .filter-radio-design,
.filter-radio:checked + .filter-radio-design {
  border-radius: 50%;
}

.filter-checkbox + .filter-checkbox-design:hover,
.filter-radio + .filter-radio-design:hover {
  height: 20px;
  width: 20px;
  border: 2px solid #00507c;
  cursor: pointer;
}

.filter-checkbox + .filter-checkbox-design:hover {
  border-radius: 10%;
}

.filter-radio + .filter-radio-design:hover {
  border-radius: 50%;
}

.filter-checkbox + .filter-checkbox-design:focus,
.filter-radio + .filter-radio-design:focus {
  height: 15px;
  width: 15px;
  border: 1px solid #00507c;
  background: #00507c;
  cursor: pointer;
}

.filter-checkbox + .filter-checkbox-design:focus {
  border-radius: 10%;
}

.filter-radio + .filter-radio-design:focus {
  border-radius: 50%;
}

.filter-checkbox:checked + .filter-checkbox-design,
.filter-radio:checked + .filter-radio-design {
  height: 20px;
  width: 20px;
  background: #00507c;
  cursor: pointer;
}

.filter-checkbox:checked + .filter-checkbox-design {
  border-radius: 10%;
}

.filter-radio:checked + .filter-radio-design {
  border-radius: 50%;
}

.filter-option-pagination-button {
  padding-left: 0px;
  float: right;
  color: #5D5D65;
}

.filter-options-pagination-container {
  display: inline-block;
  width: 100%;
}
