.content-layout {
  padding-top: 10px;
  grid-row: 1 / 2;
  grid-column: 2/3;
  justify-self: flex-start;
  align-self: flex-start;
  margin: 20px 0px;
  min-width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: minmax(5px, 1fr) minmax(408px, 1070px) minmax(5px, 1fr);
}

.feed-container {
  grid-column: 2/3;
  max-width: 100%;
}

/* TODO: remove once we have similar content sider */
@media screen and (max-width: 1107px) {
  .padded-page-container {
    padding: 0px 5px;
    max-width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .content-layout {
    padding: 10px 0px;
    margin: 10px 0px 20px;
    display: block;
  }

  .padded-page-container {
    padding: 0px 2px;
  }
}

@media screen and (max-width: 500px) {
  .content-layout {
    padding-top: 10px;
    margin: 5px 0px 15px;
  }
}
