.layout {
  max-width: 100vw;
  display: grid;
  grid-template-rows: 65px 1fr;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

.header-layout {
  grid-row: 1 / 2;
  width: 100%;
  padding: none;
  margin: none;
  position: fixed;
  height: 65px;
}

.main-layout {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  justify-items: flex-start;
  align-self: flex-start;
  max-width: 100%;
}

.sider-layout {
  min-height: 100%;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: inline-block;
}

.content-layout {
  padding-top: 10px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: flex-start;
  align-self: flex-start;
  margin: 20px 0px;
  min-width: 100%;
  display: grid;
  grid-template-columns: minmax(5px, 1fr) minmax(408px, 1070px) minmax(5px, 1fr);
}

.right-sider {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  border-left: 1px solid #dcdce0;
}

@media screen and (max-width: 1007px) {
  .main-layout {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 100px 4fr 100px;
    justify-items: flex-start;
    max-width: 100%;
  }
}
@media screen and (max-width: 780px) {
  .main-layout {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 0px 4fr 0px;
    justify-items: flex-start;
    max-width: 100%;
  }
  .sider-layout {
    display: none;
  }
}
