.content {
    margin: auto;
    width: 50%;
    padding-top: 1em;
}

p {
    font-family: sans-serif;
}

.tagline {
    text-align: center;	
    font-size: 1.2em;
}

.banner-logo {
    margin: auto;
    display: block;
}

.authentication-buttons {
    text-align: center;
}