.layout {
  max-width: 100vw;
  display: grid;
  grid-template-rows: 65px 1fr;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

.header-layout {
  grid-row: 1 / 2;
  width: 100%;
  padding: none;
  margin: none;
  position: fixed;
  height: 65px;
  z-index: 1;
}

.main-layout {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  justify-items: flex-start;
  align-self: flex-start;
  max-width: 100%;
}

.sider-layout,
.sider-layout-no-border {
  min-height: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: inline-block;
  position: fixed;
  width: 250px;
  padding: 30px 10px 0px 10px;
  overflow-x: hidden;
}

.sider-layout {
  border-right: 1px solid #dcdce0;
}

.sider-layout-no-border {
  border: none;
}

.content-layout {
  padding-top: 10px;
  grid-row: 1 / 2;
  grid-column: 2/3;
  justify-self: flex-start;
  align-self: flex-start;
  margin: 20px 0px;
  min-width: 100%;
  display: grid;
  grid-template-columns: minmax(10px, 1fr) minmax(408px, 1070px) minmax(
      10px,
      1fr
    );
}

.page-content-container {
  grid-column: 2 / 3;
  min-width: 100%;
}

.right-sider {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  border-left: 1px solid #dcdce0;
}

.resource-sider {
  max-width: 100%;
}

.suggested-resources-container {
}

.resource-sider-title {
  color: #5d5d65;
  margin-bottom: 10px;
}

.vertical-breadcrumb {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.success-overlay {
  display: flex;
  justify-content: center;
  border: 2px solid #39ae2e;
  box-shadow: 0px 0px 4px rgba(1, 66, 15, 0.4);
  padding: 5px;
}

.success-overlay h3 {
  line-height: normal;
  margin: 10px 10px;
}

@media screen and (max-width: 1017px) {
  .sider-layout {
    display: none;
  }
  .main-layout {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 0px 1fr 0px;
    justify-items: flex-start;
    max-width: 100%;
  }
}
