.layout {
  max-width: 100%;
  display: grid;
  grid-template-rows: 65px 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  min-height: 100%;
}

.header-layout {
  grid-row: 1 / 2;
  width: 100%;
  padding: none;
  margin: none;
  position: fixed;
  height: 65px;
  z-index: 1000;
}

.main-layout {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 400px 1fr 400px;
  justify-items: flex-start;
  align-self: flex-start;
  max-width: 100vw;
  min-height: 100%;
}

.right-sider {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  border-left: 1px solid #dcdce0;
}

.resource-sider {
  max-width: 100%;
}

.suggested-resources-container {
}

.resource-sider-title {
  color: #5d5d65;
  margin-bottom: 10px;
}

.vertical-breadcrumb {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.not-a-human-button {
  color: #287fad;
}

.not-a-human-button:hover {
  color: #da0000;
}
.not-a-bot-button {
  color: #287fad;
}

.not-a-bot-button:hover {
  color: #00507c;
}

.success-overlay {
  display: flex;
  justify-content: center;
  border: 2px solid #287fad;
  box-shadow: 0px 0px 4px #287fad;
  padding: 5px;
  margin: 10px 0px;
}

.success-overlay h3 {
  line-height: normal;
  margin: 10px 10px;
}

.error-overlay {
  display: flex;
  justify-content: center;
  border: 2px solid #da0000;
  box-shadow: 0px 0px 4px #da0000;
  padding: 5px;
}
.error-overlay-no-border {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.error-overlay h3,
.error-overlay-no-border h3 {
  line-height: normal;
  margin: 10px 10px;
  color: #da0000;
}

.simple-error-text {
  color: #da0000;
}

.error-text {
  color: #da0000;
}

.not-found-title {
  color: #5d5d65;
}
.secondary-link {
  color: #5d5d65;
}

.secondary-link:hover {
  color: #3f3f45;
}

.contact-us-footer {
  display: flex;
}

.contact-us-footer-section {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  height: 50px;
  border-top: 1px solid #dcdce0;
  width: 100%;
  background: #ffffff;
  z-index: 1;
  padding: 5px;
}

.footer-copyright-section svg {
  height: 10px;
  padding-right: 3px;
}

.footer-copyright-section {
  color: #5d5d65;
}

.contact-us-footer a {
  color: #5d5d65;
  display: inline-block;
  padding-right: 10px;
}

@media screen and (max-width: 1550px) {
  .main-layout {
    grid-template-columns: 350px 1fr 350px;
  }
}

@media screen and (max-width: 1400px) {
  .main-layout {
    grid-template-columns: 300px 1fr 300px;
  }
}

@media screen and (max-width: 1300px) {
  .main-layout {
    grid-template-columns: 250px 1fr 280px;
  }
}

@media screen and (max-width: 1197px) {
  /* Implement this when we have similar content to show */
  /* .main-layout {
    grid-template-columns: 0px 1fr 350px;
  } */
  .main-layout {
    display: block;
    max-width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .main-layout {
    display: block;
    max-width: 100%;
  }
}
