body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato';
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1rem;
  margin: 0;
}

p {
  line-height: 1.6em;
}

a {
  color: #00507c;
}

button,
input[type='file']::-webkit-file-upload-button,
input {
  background: none;
  border: none;
}

input[type='file']::-webkit-file-upload-button,
button {
  cursor: pointer;
}

button:focus,
input:focus {
  outline: none;
}

@media screen and (max-width: 500px) {
  body {
    font-size: 15px;
    scrollbar-width: none;
  }

  h1 {
    font-size: 1.7em;
  }

  h2 {
    font-size: 1.3em;
  }

  h3 {
    font-size: 1.1em;
  }

  h4 {
    font-size: 1em;
    margin: 0;
  }

  p {
    line-height: 1.4em;
  }
}
