.link-user-to-publications-button-container {
  text-align: center;
}

.edit-user-profile-submit-image-button-container {
  display: flex;
  justify-content: space-between;
}

.edit-user-profile-upload-image-container {
  width: 30vw;
  min-width: 250px;
  min-height: 100px;
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #5d5d65;
  overflow: hidden;
}

.edit-user-profile-change-picture-section {
  padding: 20px 0px;
  border-bottom: 1px solid #dcdce0;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.update-picture-button {
  color: #00507c;
  text-align: start;
  border: none;
}

.edit-user-photos-section {
  margin: 20px 0px 60px;
}

.edit-user-photos-section h2 {
  margin-bottom: 0px;
}

.link-to-pubs-already-linked-note {
  color: #5d5d65;
  margin-top: 40px;
}

.resize-images-note {
  color: #99999f;
}

.edit-user-pubs-fetch-more-button-container {
  display: flex;
  justify-content: center;
  margin: 40px 0px;
}

.edit-user-pubs-fetching {
  color: #5d5d65;
}

@keyframes fadeIn1 {
  from {
    opacity: 0;
  }
}

@keyframes fadeIn2 {
  from {
    opacity: 0;
  }
}

@keyframes fadeIn3 {
  from {
    opacity: 0;
  }
}
@-o-keyframes fadeIn1 {
  from {
    opacity: 0;
  }
}

@-o-keyframes fadeIn2 {
  from {
    opacity: 0;
  }
}

@-o-keyframes fadeIn3 {
  from {
    opacity: 0;
  }
}
@-moz-keyframes fadeIn1 {
  from {
    opacity: 0;
  }
}

@-moz-keyframes fadeIn2 {
  from {
    opacity: 0;
  }
}

@-moz-keyframes fadeIn3 {
  from {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn1 {
  from {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn2 {
  from {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn3 {
  from {
    opacity: 0;
  }
}

.edit-user-pubs-fetching-dots,
.edit-user-pubs-fetching-dots::before,
.edit-user-pubs-fetching-dots::after {
  background: #5d5d65;
  height: 4px;
  width: 4px;
  display: inline-block;
}

.edit-user-pubs-fetching-dots {
  animation: fadeIn1 1s infinite alternate;
  position: relative;
  margin-left: 5px;
}

.edit-user-pubs-fetching-dots::before {
  content: '';
  animation: fadeIn2 1s infinite alternate;
  position: absolute;
  left: 8px;
}

.edit-user-pubs-fetching-dots::after {
  content: '';
  animation: fadeIn3 1s infinite alternate;
  position: absolute;
  left: 16px;
}
