.user-cover-photo-container {
  width: 100%;
}

.user-cover-photo {
  display: inline-block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.user-headline {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-template-rows: none;
  min-width: 100%;
}

.user-page-avatar-container {
  grid-column: 1/2;
  justify-self: flex-end;
  height: 80px;
  background: transparent;
  position: relative;
  top: -20px;
}

.user-headline-text {
  padding-top: 10px;
  grid-column: 2/3;
  width: 98%;
  margin-left: 2%;
  justify-self: flex-start;
}

.user-page-default-user-avatar {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -20px;
  left: -100px;
}

.user-headline-text h2 {
  margin-bottom: 2px;
}

.user-headline-text h4 {
  color: #5d5d65;
}

.user-message-follow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.suggested-user {
  padding: 12px 0px;
}

.suggested-user-link {
  display: flex;
  align-items: center;
  min-width: 100%;
}

.suggested-user div {
  margin-left: 10px;
}

.user-cover-photo-container-loading {
  height: 200px;
}

.user-page-details-loading {
  animation: pulse 2s infinite;
  -webkit-animation: pulse 2s infinite;
  -moz-animation: pulse 2s infinite;
  -o-animation: pulse 2s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.user-page-info-loading-container {
  margin-bottom: 80px;
}

.user-page-avatar-container-loading {
  position: relative;
  width: 100%;
  height: 10px;
}

.user-page-details-loading-avatar {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: absolute;
  left: 90%;
  bottom: -30px;
  background: #99999f;
}

.user-page-details-loading .spinner-border {
  color: #ffffff;
}

@keyframes pulse {
  0% {
    background-color: rgba(243, 243, 243);
  }
  50% {
    background-color: rgba(223, 223, 224);
  }
  100% {
    background-color: rgba(243, 243, 243);
  }
}

@-webkit-keyframes pulse {
  0% {
    background-color: rgba(243, 243, 243);
  }
  50% {
    background-color: rgba(223, 223, 224);
  }
  100% {
    background-color: rgba(243, 243, 243);
  }
}

@media screen and (max-width: 550px) {
  .user-page-avatar-container img {
    width: 90px;
    height: 90px;
  }
  .user-headline {
    grid-template-columns: 95px 1fr;
  }
  .user-page-avatar-container {
    justify-self: flex-start;
  }

  .user-page-avatar-container {
    left: 2px;
  }
}

@media screen and (max-width: 500px) {
  .user-page-avatar-container {
    top: -15px;
  }
  .user-page-avatar-container img {
    width: 70px;
    height: 70px;
    margin-right: 0px;
  }
  .user-headline {
    grid-template-columns: 75px 1fr;
  }
}

@media screen and (max-width: 350px) {
  .user-headline {
    display: flex;
  }
  .user-page-avatar-container {
    display: block;
    top: -10px;
  }
  .user-page-avatar-container img {
    margin-right: 3px;
  }
}
