.user-cover-photo-container {
  width: 100%;
}

.user-cover-photo {
  display: inline-block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.user-headline {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-template-rows: none;
  min-width: 100%;
}

.user-page-avatar-container {
  grid-column: 1/2;
  justify-self: flex-end;
  height: 80px;
  background: transparent;
  position: relative;
}

.user-headline-text {
  padding-top: 10px;
  grid-column: 2/3;
  width: 98%;
  margin-left: 2%;
  justify-self: flex-start;
}

.user-page-default-user-avatar {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -20px;
  left: -100px;
}

.user-headline-text h2 {
  margin-bottom: 2px;
}

.user-headline-text h4 {
  color: #5d5d65;
}

.user-message-follow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-message-follow a:hover {
  color: #3099d3;
}

.user-message-follow h3:hover {
  color: #3099d3;
}

.user-message-follow button:hover {
  color: #3099d3;
}

.suggested-user {
  padding: 12px 0px;
}

.suggested-user-link {
  display: flex;
  align-items: center;
  min-width: 100%;
}

.suggested-user div {
  margin-left: 10px;
}
