.user-cover-photo-container {
  height: 200px;
  width: 100%;
}

.user-cover-photo {
  display: inline-block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.user-headline {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-template-rows: none;
  min-width: 100%;
}

.user-page-avatar-container {
  grid-column: 1/2;
  justify-self: flex-end;
  height: 80px;
  background: transparent;
  position: relative;
}

.user-headline-text {
  padding-top: 10px;
  grid-column: 2/3;
  width: 98%;
  margin-left: 2%;
  justify-self: flex-start;
}

.user-page-default-user-avatar {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -20px;
  left: -100px;
}

.user-headline-text h2 {
  margin-bottom: 2px;
}

.user-headline-text h4 {
  color: #5d5d65;
}

.user-message-follow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-message-follow a:hover {
  color: #3099d3;
}

.user-message-follow h3:hover {
  color: #3099d3;
}

.user-message-follow button:hover {
  color: #3099d3;
}

.suggested-user {
  padding: 12px 0px;
}

.suggested-user-link {
  display: flex;
  align-items: center;
  min-width: 100%;
}

.suggested-user div {
  margin-left: 10px;
}

.edit-user-profile-submit-image-button-container {
  display: flex;
  justify-content: space-between;
}

.edit-user-profile-upload-image-container {
  width: 30vw;
  min-width: 250px;
  min-height: 100px;
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #5d5d65;
  overflow: hidden;
}

.edit-user-profile-change-picture-section {
  padding: 20px 0px;
  border-bottom: 1px solid #dcdce0;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.update-picture-button {
  color: #00507c;
  text-align: start;
}

.edit-user-profile-expanded-upload-picture-section {
  display: grid;
  grid-template-columns: 8fr minmax(150px, 1fr);
  overflow-x: hidden;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5px;
}
