.publication-search-loading-advice {
  color: #5d5d65;
  margin-top: 20px;
}

.publication-search-loading-spinner-container {
  text-align: center;
}

.publication-search-no-more-results {
  color: #5d5d65;
}
