.publication-list-item-container-light,
.publication-list-item-container-dark {
  margin: 2px 0px 20px 0px;
  padding: 0px 14px 10px;
}

.publication-list-item-container-light {
  border: 1px solid #99999f;
  background: #ffffff;
}

.publication-list-item-container-dark {
  background: #064262;
  border: 1px solid #0a3b5b;
}

.publication-list-item-container-noBorder-light {
  margin: 2px 2px 20px 2px;
  padding: 0px 14px 10px;
  background: #ffffff;
}

.publication-list-item-header {
  display: grid;
  grid-template-columns: 1fr 130px;
}

.publication-list-item-journal-container {
  margin-top: 20px;
}

.publication-list-item-journal-container h3 {
  color: #99999f;
}

.publication-list-item-journal-logo {
  min-width: 150px;
  max-height: 50px;
  object-fit: cover;
}

.publication-list-item-date-light {
  color: #5d5d65;
  margin-bottom: 0px;
}

.publication-list-item-date-dark {
  color: #ccd6da;
  margin-bottom: 0px;
}

.publication-list-item-content-authors-light,
.publication-list-item-content-authors-dark {
  margin: 0px 5px 5px;
  display: flex;
  flex-wrap: wrap;
}

.publication-list-item-content-author {
  margin-right: 15px;
}

.publication-list-item-title-light,
.publication-list-item-title-dark {
  padding: 10px 5px;
  margin-bottom: 10px;
  margin-top: 20px;
  display: block;
}

.publication-list-item-title-light h3,
.publication-list-item-title-dark h3 {
  margin-bottom: 0px;
}

.publication-list-item-title-light,
.publication-list-item-title-light:hover {
  background: #ececec;
  color: #000000;
}

.publication-list-item-title-dark,
.publication-list-item-title-dark:hover {
  background: #053651;
  color: #ffffff;
}

.publication-list-item-topics-container {
  margin-left: 5px;
}

.form-publication-list-item-container {
  display: grid;
  grid-template-columns: 1fr 100px;
  align-items: center;
}

.form-publication-list-item-select-container {
  padding: 0px 20px;
}

.tertiary-button {
  color: #00507c;
}

.tertiary-button:hover {
  color: #3099d3;
}

.publication-list-item-options-dropdown-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
