.publication-list-item-container {
  border: 1px solid #99999f;
  margin: 2px 0px 20px 0px;
  padding: 0px 14px 10px;
}

.publication-list-item-container-noBorder {
  margin: 2px 2px 20px 2px;
  padding: 0px 14px 10px;
}

.publication-list-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.publication-list-item-journal-container {
  margin-top: 20px;
}

.publication-list-item-journal-container h3 {
  color: #99999f;
}

.publication-list-item-journal-logo {
  min-width: 150px;
  max-height: 50px;
  object-fit: cover;
}

.publication-list-item-date {
  color: #5d5d65;
}

.publication-list-item-content a:hover {
  text-decoration-color: black;
}

.publication-list-item-content-authors {
  margin: 0px 5px 5px;
  display: flex;
  flex-wrap: wrap;
}

.publication-list-item-content-author {
  margin-right: 15px;
}

.publication-list-item-title {
  color: #000000;
  background: #ececec;
  padding: 10px 5px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.publication-list-item-expand-button {
  background: none;
  border: none;
  color: none;
}

.publication-list-item-expand-button:hover div {
  color: #000000;
  text-decoration: underline;
  text-decoration-color: #000000;
}

.publication-list-item-expand-button:hover path {
  stroke: #000000;
}

.publication-list-item-expand-button:focus {
  outline: none;
}

.publication-list-item-expand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0px;
}

.publication-list-item-expand div {
  margin-left: 10px;
  color: #5d5d65;
}

.publication-list-item-topics-container {
  margin-left: 5px;
}

.form-publication-list-item-container {
  display: grid;
  grid-template-columns: 1fr 100px;
  align-items: center;
}

.form-publication-list-item-select-container {
  padding: 0px 20px;
}

.tertiary-button {
  color: #00507c;
}

.tertiary-button:hover {
  color: #3099d3;
}
