.SiderContainer {
  position: fixed;
  width: 250px;
  border-right: 1px solid #dcdce0;
  height: 100%;
}

@media screen and (max-width: 1007px) {
  .SiderContainer {
    position: fixed;
    width: 100px;
    border-right: 1px solid #dcdce0;
  }
}
