.dropdown-toggle-container {
  min-width: 100%;
}

.dropdown-default-toggle,
.dropdown-custom-toggle {
  display: flex;
  min-width: 200px;
  width: 25%;
  height: 40px;
  border: 1px solid #99999f;
  align-items: center;
  justify-content: space-between;
}

.dropdown-custom-toggle {
  color: #00507c;
}
.dropdown-default-toggle {
  color: #5d5d65;
}

.dropdown-default-toggle span,
.dropdown-custom-toggle span {
  display: inline-block;
}

.dropdown-default-toggle path,
.dropdown-custom-toggle path {
  fill: #00507c;
}

.dropdown-relative-position {
  position: relative;
}

.dropdown-container {
  position: absolute;
  top: 100%;
  width: 100%;
  background: white;
  z-index: 3;
  overflow-x: hidden;
  border: 1px solid #00507c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dropdown-option-button-light-loading,
.dropdown-option-button-light,
.dropdown-option-button-light-loading:hover,
.dropdown-option-button-light-loading:focus,
.dropdown-option-button-dark-loading,
.dropdown-option-button-dark-loading:hover,
.dropdown-option-button-dark-loading:focus,
.dropdown-option-button-dark {
  padding: 6px 5px;
  width: 100%;
  text-align: start;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: default;
}

.dropdown-option-button-light {
  border-bottom: 1px solid #5d5d65;
  color: #00507c;
}

.dropdown-option-button-light-loading,
.dropdown-option-button-light-loading:hover,
.dropdown-option-button-light-loading:focus {
  border-bottom: 1px solid #5d5d65;
  color: #5d5d65;
}

.dropdown-option-button-light-loading path,
.dropdown-option-button-light-loading:hover path,
.dropdown-option-button-light-loading:focus path {
  fill: #5d5d65;
}
.dropdown-option-button-light-loading circle,
.dropdown-option-button-light-loading:hover circle,
.dropdown-option-button-light-loading:focus circle,
.dropdown-option-button-light-loading rect,
.dropdown-option-button-light-loading:hover rect,
.dropdown-option-button-light-loading:focus rect {
  stroke: #5d5d65;
}

.dropdown-option-button-dark-loading path,
.dropdown-option-button-dark-loading:hover path,
.dropdown-option-button-dark-loading:focus path {
  fill: #9ebdd0;
}

.dropdown-option-button-dark-loading circle,
.dropdown-option-button-dark-loading:hover circle,
.dropdown-option-button-dark-loading:focus circle,
.dropdown-option-button-dark-loading rect,
.dropdown-option-button-dark-loading:hover rect,
.dropdown-option-button-dark-loading:focus rect {
  stroke: #053651;
  fill: #9ebdd0;
}

.dropdown-option-button-dark-loading,
.dropdown-option-button-dark-loading:hover,
.dropdown-option-button-dark-loading:focus {
  border-bottom: 1px solid #9ebdd0;
  color: #9ebdd0;
  background-color: #053651;
}

.dropdown-option-button-light:hover,
.dropdown-option-button-light:focus {
  background-color: #00507c;
  border-bottom: 1px solid #00507c;
  color: #ffffff;
}

.dropdown-option-button-dark {
  border-bottom: 1px solid #5d7f95;
  color: #ffffff;
  background-color: #053651;
}

.dropdown-option-button-dark:hover,
.dropdown-option-button-dark:focus {
  background-color: #3099d3;
  border-bottom: 1px solid #3099d3;
  color: #053651;
}

.dropdown-option-button-light:hover h4,
.dropdown-option-button-light:focus h4,
.dropdown-option-button-light:hover h3,
.dropdown-option-button-light:focus h3 {
  color: #ffffff;
}
.dropdown-option-button-dark:hover h4,
.dropdown-option-button-dark:focus h4,
.dropdown-option-button-dark:hover h3,
.dropdown-option-button-dark:focus h3 {
  color: #053651;
}

.dropdown-option-button-light h4,
.dropdown-option-button-light h3 {
  color: #00507c;
}

.dropdown-option-button-dark h4,
.dropdown-option-button-dark h3 {
  color: #ffffff;
}

.dropdown-option-button-light:hover path,
.dropdown-option-button-light:focus path {
  fill: #ffffff;
}

.dropdown-option-button-dark:hover path,
.dropdown-option-button-dark:focus path {
  fill: #053651;
}

.dropdown-option-button-light:hover svg,
.dropdown-option-button-light:focus svg {
  stroke: #ffffff;
}

.dropdown-option-button-dark:hover svg,
.dropdown-option-button-dark:focus svg {
  stroke: #053651;
}

.dropdown-option-button-light:hover .pin-icon path,
.dropdown-option-button-light:focus .pin-icon path {
  stroke: #ffffff;
}

.dropdown-option-button-dark:hover .pin-icon path,
.dropdown-option-button-dark:focus .pin-icon path {
  stroke: #053651;
}

.dropdown-option-button-light:hover .pin-icon,
.dropdown-option-button-light:focus .pin-icon {
  stroke: #00507c;
}

.dropdown-option-button-dark:hover .pin-icon,
.dropdown-option-button-dark:focus .pin-icon {
  stroke: #ffffff;
}

.dropdown-option-button-light:hover .pin-icon circle,
.dropdown-option-button-light:focus .pin-icon circle {
  stroke: #ffffff;
  fill: #00507c;
}

.dropdown-option-button-dark:hover .pin-icon circle,
.dropdown-option-button-dark:focus .pin-icon circle {
  stroke: #053651;
  fill: #ffffff;
}

.dropdown-option-button-light path,
.dropdown-option-button-light rect {
  fill: #00507c;
}

.dropdown-option-button-light svg,
.dropdown-option-button-dark svg,
.dropdown-option-button-light-loading svg,
.dropdown-option-button-dark-loading svg {
  width: 25px;
  height: 25px;
}

.small-dropdown-toggle {
  padding: 0px;
  min-width: 95%;
  text-align: right;
  color: #00507c;
}

.small-dropdown-toggle:hover p {
  text-decoration: underline;
}
.small-dropdown-toggle p {
  display: inline-block;
  margin-right: 10px;
}

.small-dropdown-toggle path {
  fill: #00507c;
}

.dropdown-loading-content {
  height: 80px;
  padding-top: 10px;
}

@media screen and (max-width: 220px) {
  .dropdown-default-toggle,
  .dropdown-custom-toggle {
    min-width: 80px;
  }
}
