.dropdown-toggle-container {
  min-width: 100%;
}

.dropdown-default-toggle,
.dropdown-custom-toggle {
  display: flex;
  min-width: 200px;
  width: 25%;
  height: 40px;
  border: 1px solid #99999f;
  align-items: center;
  justify-content: space-between;
}

.dropdown-custom-toggle {
  color: #00507c;
}
.dropdown-default-toggle {
  color: #5d5d65;
}

.dropdown-default-toggle span,
.dropdown-custom-toggle span {
  display: inline-block;
}

.dropdown-default-toggle path,
.dropdown-custom-toggle path {
  fill: #00507c;
}

.dropdown-relative-position {
  position: relative;
}

.dropdown-container {
  position: absolute;
  top: 100%;
  width: 100%;
  background: white;
  z-index: 1;
  overflow-x: hidden;
  border: 1px solid #00507c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dropdown-option-button {
  padding: 4px 12px;
  width: 100%;
  border-bottom: 1px solid #5d5d65;
  color: #00507c;
  text-align: start;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dropdown-option-button:hover,
.dropdown-option-button:focus {
  background-color: #00507c;
  border-bottom: 1px solid #00507c;
  color: #ffffff;
}

.dropdown-option-button:hover h4,
.dropdown-option-button:focus h4,
.dropdown-option-button:hover h3,
.dropdown-option-button:focus h3 {
  color: #ffffff;
}

.dropdown-option-button h4,
.dropdown-option-button h3 {
  color: #00507c;
}

.dropdown-option-button:hover path,
.dropdown-option-button:focus path {
  fill: #ffffff;
}

.dropdown-option-button:hover svg,
.dropdown-option-button:focus svg {
  stroke: #ffffff;
}

.dropdown-option-button svg {
  width: 50px;
}

.small-dropdown-toggle {
  padding: 0px;
  min-width: 100%;
  text-align: right;
  color: #00507c;
}

.small-dropdown-toggle p {
  display: inline-block;
  margin-right: 10px;
}

.small-dropdown-toggle path {
  fill: #00507c;
}

.dropdown-loading-content {
  height: 80px;
  padding-top: 10px;
}
