.big-search-prompt-text {
  text-align: center;
  margin: 200px 0px 20px;
  color: #5d5d65;
}

.big-search-form {
  display: grid;
  grid-template-columns: 1fr 55px;
  min-width: 100%;
}

.big-search-input {
  display: inline-block;
  flex-grow: 1;
  height: 60px;
  border: 1px solid #00507c;
  border-radius: 0%;
  background: white;
  min-width: 100%;
  padding-left: 10px;
}

.search-bar-suggested-searches-prompt {
  color: #99999f;
}

.big-search-icon-container {
  width: 55px;
  height: 60px;
  background-repeat: none;
  background-position-x: center;
  background-size: cover;
  display: inline-block;
}

.big-search-suggested-searches-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  flex-shrink: 0;
}

.big-search-container {
  display: grid;
  grid-template-columns: minmax(10px, 1fr) 20fr minmax(10px, 1fr);
}

.big-search-suggested-search {
  margin-right: 30px;
  font-size: 1.2em;
  line-height: 1.5em;
  flex-shrink: 0;
}

.search-input {
  display: inline-block;
  flex-grow: 1;
  height: 40px;
  border: 1px solid #00507c;
  border-radius: 0%;
  background: white;
  padding-left: 10px;
}

.header-search {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: minmax(5px, 1fr) minmax(408px, 1070px) minmax(5px, 1fr);
  justify-self: flex-start;
  width: 100%;
  margin: 0px 2px;
}

.search-bar {
  grid-column: 2 / 3;
  align-items: center;
  justify-self: center;
  min-width: 100%;
}

.search-form {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search-icon-container {
  width: 50px;
  height: 40px;
  background-repeat: none;
  background-position-x: center;
  background-size: cover;
}

.minimised-search-bar-input,
.minimised-search-bar-input-expanded {
  display: flex;
  align-items: center;
  display: inline-block;

  height: 40px;
  border: 1px solid #00507c;
  border-radius: 0%;
  background: white;
  padding-left: 10px;
}

.minimised-search-bar-input {
  width: 80px;
}

.minimised-search-bar-input-expanded {
  width: 100%;
}

.search-bar-relative-positioning {
  position: relative;
  width: 100%;
  height: 100%;
}

.minimised-search-bar-container {
  display: flex;
  position: relative;
  align-items: center;
  height: 100%;
}

.minimised-search-bar-container-expanded {
  display: flex;
  position: relative;
  align-items: center;
  height: 100%;
  position: absolute;
  width: 80vw;
  z-index: 1;
}

.minimised-search-form,
.minimised-search-form-expanded {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.minimised-search-form-expanded {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 800px) {
  .big-search-suggested-search,
  .search-bar-suggested-searches-prompt {
    font-size: 1em;
  }
  .big-search-input {
    height: 50px;
    padding-left: 8px;
  }
  .big-search-icon-container {
    width: 50px;
    height: 50px;
  }
  .big-search-input {
    font-size: 0.8em;
  }

  .header-search {
    display: block;
  }
}

@media screen and (max-width: 664px) {
  .search-icon-container {
    width: 30px;
  }
  .big-search-suggested-search,
  .search-bar-suggested-searches-prompt {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 378px) {
  .big-search-icon-container {
    width: 30px;
  }
  .big-search-suggested-search,
  .search-bar-suggested-searches-prompt {
    font-size: 0.7em;
  }
  .big-search-input {
    height: 30px;
    padding-left: 6px;
  }
  .big-search-icon-container {
    width: 30px;
    height: 30px;
  }
  .big-search-input {
    font-size: 0.6em;
  }
}
