.see-more-button {
  border: none;
  background: none;
  outline: none;
  color: #00507c;
  margin-bottom: 10px;
}

.see-more-button:hover,
.see-more-button:focus {
  border: none;
  background: none;
  outline: none;
  color: #3099d3;
}
