.tagged-content-container {
  padding: 10px 0px;
}

.optional-tag {
  display: grid;
  justify-content: flex-start;
  grid-template-columns: 40px minmax(110px, 2fr) 11fr;
  padding-left: 15px;
}
.optional-tag-researcher {
  display: grid;
  justify-content: flex-start;
  grid-template-columns: 40px 1fr;
  grid-template-rows: none;
  padding-left: 15px;
}

.optional-tag-icon {
  grid-column: 1 / 3;
}

.optional-tag-name {
  text-transform: capitalize;
  grid-column: 2 / 3;
  align-self: center;
}

.optional-tag-content {
  grid-column: 3 / 4;
  align-self: center;
}

.optional-tag-researcher-container {
  text-transform: capitalize;
  grid-column: 2 / 3;
  display: flex;
}

.optional-tag-researcher-name {
  padding-right: 2vw;
}

.post-tagged-publication {
  margin: 0px 10px;
}

.post-tagged-publicationURL {
  color: #5d5d65;
}
