.post-actions {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  flex-wrap: wrap;
  border-top: 1px solid #dcdce0;
}

.action-button {
  border: none;
  /* color: #00507c; */
  color: #5d5d65;
  background: none;
}

.action-button:hover,
.action-button:focus {
  border: none;
  outline: none;
  color: #3099d3;
}
.action-button:active {
  background: none;
  border: none;
  outline: none;
  color: #3099d3;
}

.button-container {
  padding: 10px 30px 10px 0px;
  border-radius: 4px;
}
