.post-actions-light,
.post-actions-dark {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  flex-wrap: wrap;
  padding: 0px 10px;
}

.post-actions-light {
  border-top: 1px solid #dcdce0;
  background: #f5f6f6;
}

.post-actions-dark {
  border-top: 2px solid #0a3b5b;
  background: #053b57;
}

.post-actions-dedicated-page {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  flex-wrap: wrap;
}

.button-container {
  padding: 10px 30px 10px 0px;
  border-radius: 4px;
}

.bookmark-page-post-bookmark {
  display: flex;
  justify-content: flex-end;
}

.post-actions-actioned-page-container {
  display: flex;
  justify-content: flex-end;
}
